<{include file="pageheader.html"}>
<body style="background-color: #FFF; overflow: auto;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>

<div class="page">
  <div class="fixed-bar">
    <div class="item-title">
      <div class="subject">
        <h3>工单信息</h3>
        <h5>工单信息管理</h5>
      </div>
    </div>
  </div>
  <!-- 操作说明 -->
  <div class="explanation" id="explanation">
    <div class="title" id="checkZoom"><i class="fa fa-lightbulb-o"></i>
      <h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
      <span id="explanationZoom" title="收起提示"></span> </div>
    <ul>
      <li>显示工单信息的记录，并可查看具体详情</li>
    </ul>
  </div>
  <div id="flexigrid"></div>

</div>

<div id="goTop">
    <a href="JavaScript:void(0);" id="btntop"><i class="fa fa-angle-up"></i></a>
    <a href="JavaScript:void(0);" id="btnbottom"><i class="fa fa-angle-down"></i></a>
</div>
</body>
<script type="text/javascript">
    $(function(){
        $("#flexigrid").flexigrid({
            url: 'get_work_order',
            dataType: 'xml',
            colModel : [
                {display: '操作', name : 'operation', width : 100, sortable : false, align: 'center', className: 'handle'},
                {display: '编号', name : 'id', width : 90, sortable : false, align: 'center'},
                {display: '类型', name : 'type', width : 105, sortable : false, align: 'center'},
                {display: '工单标题', name : 'title', width : 95, sortable : false, align: 'center'},
                {display: '工单内容', name : 'content', width : 300, sortable : false, align: 'center'},
                {display: '提交人', name : 'guide', width : 60, sortable : false, align: 'center'},
                {display: '联系电话', name : 'tel', width : 100, sortable : false, align: 'center'},
                {display: '紧急程度', name : 'urgency', width : 60, sortable : false, align: 'center'},
                {display: '提交时间', name : 'time', width : 130, sortable : false, align: 'center'},
            ],
            buttons : [
                {display: '<i class="fa fa-trash"></i>批量删除', name : 'delete', bclass : 'del', title : '将选定行数据批量删除', onpress : fg_operate },
                   ],
            searchitems : [
                {display: '标题', name : 'title'},
                {display: '提交人', name : 'guide'},
            ],
            sortname: "",
            sortorder: "",
            rp: 40,
            title: '工单信息列表'
        });
    });

    function fg_operate(name,grid){
        if (name == 'delete') {
            if($('.trSelected',grid).length>0){
                var itemlist = new Array();
                $('.trSelected',grid).each(function(){
                    itemlist.push($(this).attr('data-id'));
                });
                fg_delete(itemlist);
            } else {
                return false;
            }
        }else {
            if($('.trSelected',grid).length>0){
                var itemlist = new Array();
                $('.trSelected',grid).each(function(){
                    itemlist.push($(this).attr('data-id'));
                });
                fg_look(itemlist);
            } else {
                return false;
            }
        }
    }

function fg_delete(id) {
    if (typeof id == 'number') {
        var id = new Array(id.toString());
    }
  /*  if(confirm('确认删除操作吗？')){
   id = id.join(',');
   } else {
   return false;
   }*/
    layer.confirm('确认要删除吗', {
        btn: ['确认','取消'] //按钮
    }, function(){
        id = id.join(',');
        $.ajax({
            type: "GET",
            dataType: "json",
            url: "work_order_delete",
            data: "id="+id,
            success: function(data){
                //layer.msg(123);
                if (data.state){
                    layer.msg(data.msg);
                    $("#flexigrid").flexReload();
                } else {
                    layer.msg(data.msg);
                }
            }
        });
    })
}


function fg_edit(id){
    window.location.href = 'work_order_look/'+id;
}

</script>
</html>