<{include file="pageheader.html"}>
<link rel="stylesheet" type="text/css" href="<{PLUGIN}>plugins/bigcolorpicker/jquery.bigcolorpicker.css" />
<script type="text/javascript" src="<{PLUGIN}>plugins/bigcolorpicker/jquery.bigcolorpicker.min.js"></script>
<body style="background-color: #FFF; overflow: auto;">
<style>
.cl-red{
	color:red;
}
	.layui-layer-btn{
		text-align: center;
	}
	.layui-layer-btn a{
		padding: 0 20px;
		margin: 0 20px;
	}
	.layui-layer-btn a.layui-layer-btn0{
		background-color: #F37B1D;
		border:1px solid #C85E0B;
	}
.hDivBox>table{width:600px;}
.name input, .name , .name .editable2 {
    width: 150px;
    border:0;
}
.editable{
    border:0;
    background-color: transparent;
}
.name .editable{
    width: auto;
    border:0;
    background-color: transparent;
}
#treet1 td{
    border: 1px solid #E6E6E6;
}
#treet1 tr:nth-child(odd){background:#fff;}
#treet1 tr:nth-child(even){background:#FDFDFD;}
.flexigrid .bDiv .sign div{max-width: 36px !important;  }
.layui-layer{
	max-width:80% !important;
}
.check-style{
	border: 1px dashed #eee;
	padding: 10px;
	display: block;
	max-height: 200px;
	overflow-y: auto;
}
.check-dl{
	border-bottom: 1px solid #eee;
	padding: 5px 0;
}
.check-dl dd label{
	display: inline-block;
	width: 150px;
	margin-right: 10px;
	vertical-align:top;
	zoom: 1;
}
.check-dl input{
	margin-right: 5px;
}
.check-dl dt{
	font-weight: bold;
	margin-bottom: 5px;
}
.check-dl dd{
	padding:0 10px;
}
</style>
<body style="background-color: #FFF; overflow: auto;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>

<div class="page">
  <div class="fixed-bar">
            <div class="item-title">
                <div class="subject">
                     <h3>分类管理</h3>
                     <h5>对系统货品（商品）的分类进行增、删、改管理</h5>
                </div>
                <ul class="tab-base nc-row">
                                            <li><a class="<{if empty($type)}>current<{/if}>" href="goods_classify_management"><span>平台分类</span></a></li>
                        <li><a class="<{if $type==tb}>current<{/if}>" href="goods_classify_management?type=tb"><span>淘宝分类</span></a></li>
                        <li><a class="<{if $type==jd}>current<{/if}>" href="goods_classify_management?type=jd"><span>京东分类</span></a></li>
                                    </ul>
            </div>
        </div>
  <!-- 操作说明 -->
   <div class="explanation" id="explanation">
    <div class="title" id="checkZoom"><i class="fa fa-lightbulb-o"></i>
      <h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
      <span id="explanationZoom" title="收起提示"></span>
    </div>
    <ul>
      <li>当店主添加商品时可选择商品分类，用户可根据分类查询商品列表</li>
      <li>每个子分类必需关联上级分类</li>
      <li>设置中可选则分类属性，分类的属性可在类型管理中设置</li>
      <li>设置分类关键词和描述有利于搜索引擎和用户搜索</li>
    </ul>
  </div>
  <div id="flexigrid">
 	
  </div>
</div>
<script type="text/javascript">
//定义变量，点击返回上一级、新增分类自动获取当前父类时用到
var his_parent_ids = [0],cur_parent_id = 0,h_type = "<{$type}>";
/*--------------------------------此代码为控制表头的*/
$(function(){

    $("#flexigrid").flexigrid({
        url: "ajax_get_all_jdtb_list?type=<{$type}>",
        dataType: 'xml',
        colModel : [
            {display: '操作', name : 'operation', width :80, sortable : false, align: 'center'},
            {display: 'ID', name : 'area_name', width : 100, sortable : false, align: 'left'},
            {display: '分类名', name : 'area_region', width : 150, sortable : false, align: 'left'},
			{display: '所在层级', name : 'area_deep', width : 100, sortable : false, align : 'left'},
			{display: '上级分类ID', name : 'area_parent_id', width : 140, sortable : false, align: 'center'},
			{display: '是否父类', name : 'operation', width : 100, sortable : false, align: 'center'},
			{display: '网点类型', name : 'area_parent_id', width : 140, sortable : false, align: 'center'},
			{display: '是否启用', name : 'area_parent_id', width : 140, sortable : false, align: 'center'}
            ],
        buttons : [
			{display: '<i class="fa fa-ban"></i>批量启用', name : 'start', bclass : 'start', title : '批量启用', onpress : fg_operate },
			{display: '<i class="fa fa-ban"></i>批量停用', name : 'stop', bclass : 'stop', title : '批量停用', onpress : fg_operate },
			{display: '<i class="fa fa-plus"></i>初始化分类', name : 'begin', bclass : 'begin', title : '初始化分类', onpress : fg_operate },
			{display: '<i class="fa fa-refresh"></i>同步分类', name : 'sync', bclass : 'sync', title : '同步分类', onpress : fg_operate },
            {display: '<i class="fa fa-level-up"></i>返回上级', name : 'up', bclass : 'back', title : '返回上级', onpress : fg_operate }
            ],
         searchitems : [
            {display: '是否启用', name : 'is_valid'}
            ], 
        sortname: "",
        sortorder: "",
        rp: 40,
        title: '分类列表'
    });
});

function fg_operate(name, grid) {
  if (name == 'begin') {
    	$.ajax({
	        type: "post",
	        dataType: "json",
	        url: "begin_class",
	        data: "type="+h_type,
	        beforeSend:function(){
	        	layer.msg('初始化中请稍等...',{time:0});
	        },
	        success: function(data){
	        	layer.closeAll();
	        	if(data.state){
	        		layer.msg('初始化完成');
	        	}else{
	        		layer.msg(data.msg);
	        	}
	        	setTimeout(function(){
	        		window.location.reload();
	        	},2000)
	        	
	        }
	    });
    }else if (name == 'stop') {
    	if($('.trSelected',grid).length>0){
            var itemlist = new Array();
            $('.trSelected',grid).each(function(){
            	itemlist.push($(this).attr('data-id'));
            });
            stop_op(itemlist);
        }else{
            return false;
        }
    }else if (name == 'start') {
    	if($('.trSelected',grid).length>0){
            var itemlist = new Array();
            $('.trSelected',grid).each(function(){
            	itemlist.push($(this).attr('data-id'));
            });
            start_op(itemlist);
        }else{
            return false;
        }
    }else if (name == 'up') {
    	fg_up();
    }else if (name == 'sync') {
    	var itemlist = new Array();
    	if($('.trSelected',grid).length>0){
            
            $('.trSelected',grid).each(function(){
            	itemlist.push($(this).attr('data-id'));
            });
            str = '确定同步选中分类及其所有子分类';
        }else{
        	layer.msg('至少选择一项需要同步的分类');
        	return false;
        }

    	id = itemlist.join(',');
    	layer.confirm(str, {
		  btn: ['确定','取消'] //按钮
		}, function(){
    	$.ajax({
	        type: "post",
	        dataType: "json",
	        url: "begin_class?op=sync",
	        data: {type:h_type,id:id},
	        beforeSend:function(){
	        	layer.msg('分类同步中请稍等...',{time:0});
	        },
	        success: function(data){
	        	layer.closeAll();
	        	if(data.state){
	        		layer.msg('同步完成');
	        	}else{
	        		layer.msg(data.msg);
	        	}
	        }
	    });
		})
    }
}


function start_op(id, name) {
	if (typeof id == 'number') {
    	var id = new Array(id.toString());
	};
	if(typeof name == 'undefined'){
		var str = '确认启用 这' + id.length + ' 项以及其子类吗？';
	}else{
		var str = '确认启用 ' + name + ' 以及其子类吗？';
	};
	layer.confirm(str, {
		  btn: ['确定','取消'] //按钮
		}, function(){
		  layer.msg('启用中', {icon: 1});
		  $.ajax({
		        type: "post",
		        dataType: "json",
		        url: "start_stop_ec_scid?op=start",
		        data: "id="+id,
		        success: function(data){
		        	layer.msg(data.msg);
		        	setTimeout("window.location.href='goods_classify_management?type="+h_type+"';",2000)
		        	
		        }
		    });
		}, function(){
		    return ;
    });
}

function stop_op(id, name) {
	if (typeof id == 'number') {
    	var id = new Array(id.toString());
	};
	if(typeof name == 'undefined'){
		var str = '确认停用 这' + id.length + ' 项以及其子类吗？';
	}else{
		var str = '确认停用 ' + name + ' 以及其子类吗？';
	};
	layer.confirm(str, {
		  btn: ['确定','取消'] //按钮
		}, function(){
		  layer.msg('停用中', {icon: 1});
		  $.ajax({
		        type: "post",
		        dataType: "json",
		        url: "start_stop_ec_scid?op=stop",
		        data: "id="+id,
		        success: function(data){
		        	layer.msg(data.msg);
		        	setTimeout("window.location.href='goods_classify_management?type="+h_type+"';",2000)
		        	
		        }
		    });
		}, function(){
		    return ;
    });
}



function fg_show_children(gc_id,gc_parent_id) {
    $("#flexigrid").flexOptions({url: 'ajax_get_all_jdtb_list?type=<{$type}>&ec_parent_cid='+gc_id}).flexReload();
    his_parent_ids.push(gc_parent_id);
    //alert(his_parent_ids);
    cur_parent_id = gc_id;
}

function fg_up() {
	if (his_parent_ids.length == 0) {
		his_parent_ids.push(0);
	}
	$("#flexigrid").flexOptions({url: 'ajax_get_all_jdtb_list?type=<{$type}>&ec_parent_cid='+his_parent_ids[his_parent_ids.length-1]}).flexReload();
	cur_parent_id = his_parent_ids[his_parent_ids.length-1];
    //alert(cur_parent_id);
	his_parent_ids.pop();
}


function go_back(){
	if (his_parent_ids.length == 0) {
		his_parent_ids.push(0);
	}
	$("#flexigrid").flexOptions({url: 'ajax_get_all_jdtb_list?type=<{$type}>&ec_parent_cid='+his_parent_ids[his_parent_ids.length-1]}).flexReload();
	cur_parent_id = his_parent_ids[his_parent_ids.length-1];
    //alert(cur_parent_id);
	his_parent_ids.pop();
}

//点击全选
$("body").on("change",".check-dl input",function(){
if($(this).attr("checked")){
	$(this).parent().next().find("label input").attr("checked",true);
}else{
	$(this).parent().next().find("label input").attr("checked",false);
}
})
</script> 
<div id="goTop"> <a href="JavaScript:void(0);" id="btntop"><i class="fa fa-angle-up"></i></a><a href="JavaScript:void(0);" id="btnbottom"><i class="fa fa-angle-down"></i></a></div>
</body>
