<{include file="pageheader.html"}>

<body style="background-color: #FFF; overflow: auto;">

<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>标签管理</h3>
                <h5>资讯文章Tag标签热门关键词设置</h5>
            </div>
        </div>
    </div>
    <!-- 操作说明 -->
    <div class="explanation" id="explanation">
        <div class="title" id="checkZoom"><i class="fa fa-lightbulb-o"></i>
            <h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
            <span id="explanationZoom" title="收起提示"></span> </div>
        <ul>
            <li>通过修改排序数字可以控制前台显示顺序，数字越小越靠前</li>
        </ul>
    </div>
    <div id="flexigrid"></div>
</div>
<script type="text/javascript">
    $(function(){
        $(document).ready(function(){
            $('#flexigrid').flexigrid({
            	url: 'information_label_management?op=get_xml',
                height:'auto',// 高度自动
                usepager: true,// 翻页
                striped:false,// 不使用斑马线
                resizable: false,// 不调节大小
                title: '标签列表',// 表格标题
                reload: false,// 不使用刷新
                columnControl: false,// 不使用列控制
                colModel : [
                    {display: '操作', name : 'operation', width : 150, sortable : false, align: 'center', className: 'handle'},
                    {display: '排序', name : 'type_id', width : 40, sortable : true, align: 'center'},
                    {display: '标签名称', name : 'type_name', width : 150, sortable : true, align: 'center'},
                    {display: '标签计数', name : 'type_sort', width : 200, sortable : true, align: 'center'},
                ],
                buttons : [
                    {display: '<i class="fa fa-plus"></i>新增数据', name : 'add', bclass : 'add', title : '新增数据', onpress : fg_operation },
                    {display: '<i class="fa fa-trash"></i>批量删除', name : 'delete', bclass : 'del', title : '将选定行数据批量删除', onpress : fg_operation }
                ],
                sortname: "tag_sort",
                sortorder: "asc",
            });
        });

    });
    
    function fg_operation(name, grid) {
        if (name == 'delete') {
            if($('.trSelected',grid).length>0){
                var itemlist = new Array();
                $('.trSelected',grid).each(function(){
                	itemlist.push($(this).attr('data-id'));
                });
                fg_delete(itemlist);
            }else{
                return false;
            }
        }
        if(name=="add"){
        	window.location.href = 'information_label_management_add';
        }
    }
    function fg_delete(id) {
    	if (typeof id == 'number') {
        	var id = new Array(id.toString());
    	};
    	layer.confirm('删除后将不能恢复，确认删除这 ' + id.length + ' 项吗？', {
    		  btn: ['确认','取消'] //按钮
    		}, function(){
    			id = id.join(',');
    			$.ajax({
    		        type: "GET",
    		        dataType: "json",
    		        url: "information_label_management?op=list_del",
    		        data: "del_id="+id,
    		        success: function(data){
					if(data.state=='403'){
				login_ajax('shopadmin');
			}else
    		            if (data.state){
    		                $("#flexigrid").flexReload();
    		                layer.msg(data.msg);
    		            } else {
    		            	layer.msg('删除失败');
    		            }
    		        }
    		    });
    		});
    }
    function update_sort(id){
    	var Article_sort=document.getElementById(id).value;
    	$.ajax({
			type:'post',
			dataType:'json',
			data:{
				flag:'update_tag_sort',
				id:id,
				sort:Article_sort
			},
			url:"<{base_url()}>admin.php/Information/update_sort_all",
			cache: false,
			success:function(res){
				if(res!="success"){
					layer.alert('排序修改失败，请重试');
				}
			}
		});
    }
    function update_title(id){
    	var ids="title"+id;
    	var Article_sort=document.getElementById(ids).value;
    	$.ajax({
			type:'post',
			dataType:'json',
			data:{
				flag:'update_tag_title',
				id:id,
				sort:Article_sort
			},
			url:"<{base_url()}>admin.php/Information/update_sort_all",
			cache: false,
			success:function(res){
				if(res!="success"){
					layer.alert('名称修改失败，请重试');
				}
			}
		});
    }
</script> 
<div id="goTop"> <a href="JavaScript:void(0);" id="btntop"><i class="fa fa-angle-up"></i></a><a href="JavaScript:void(0);" id="btnbottom"><i class="fa fa-angle-down"></i></a></div>
</body>
</html>