
<{include file="pageheader.html"}>

<body style="background-color: #FFF; overflow: auto;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>

<div class="page">
  <div class="fixed-bar">
    <div class="item-title">
      <div class="subject">
        <h3>物流管理</h3>
        <h5>管理中心操作权限及分组设置</h5>
      </div>
      <ul class="tab-base nc-row"><li>
      	<a href="logistics"><span>快递公司</span></a></li><li><a class="current"><span>快递接口</span></a></li></ul>
      
      </div>
  </div>
   <!--操作提示-->
    <div class="explanation" id="explanation">
        <div class="title" id="checkZoom"><i class="fa fa-lightbulb-o"></i>
            <h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
            <span id="explanationZoom" title="收起提示"></span> </div>
        <ul>
            <li>在两种快递接口中选择使用一个，需在"<a href="http://www.kuaidi100.com/" target="_blank"><strong>快递100</strong></a>"、"<a href="http://www.kdniao.com/" target="_blank"><strong>快递鸟</strong></a>"上申请开通后才能使用。</li>
        </ul>
    </div>
  <form method="post" name="settingForm">
        <input type="hidden" name="form_submit" value="ok">
        <div class="ncap-form-default">
            <dl class="row">
                <dt class="tit">
                    <label>接口网站</label>
                </dt>
                <dd class="opt">
                    <label><input type="radio" name="express_api" value="1"  <{if isset($express_api_info.statu)}><{if $express_api_info.statu eq 1}>checked<{/if}><{/if}> >快递100</label>
                    <label><input type="radio" name="express_api" value="2" <{if isset($express_api_info.statu)}><{if $express_api_info.statu eq 2}>checked<{/if}><{else}>checked<{/if}> >快递鸟</label>
                    <p class="notic">快递100接口为收费版本，快递鸟可免费申请</p>
                </dd>
            </dl>
            <div class="title">
                <h3>快递100接口设置</h3>
            </div>
            <dl class="row">
                <dt class="tit">
                    <label for="express_kuaidi100_id">公司编号</label>
                </dt>
                <dd class="opt">
                    <input id="baidu_push_ios_key" name="express_kuaidi100_id" value="<{if isset($express_api_info.kuaidi100.id)}><{$express_api_info.kuaidi100.id}><{/if}>" class="input-txt" type="text">
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="express_kuaidi100_key">授权密钥</label>
                </dt>
                <dd class="opt">
                    <input id="baidu_push_ios_secret" name="express_kuaidi100_key" value="<{if isset($express_api_info.kuaidi100.key)}><{$express_api_info.kuaidi100.key}><{/if}>" class="input-txt" type="text">
                    <p class="notic">&nbsp;</p>
                </dd>
            </dl>
            <div class="title">
                <h3>快递鸟接口设置</h3>
            </div>
            <dl class="row">
                <dt class="tit">
                    <label for="express_kdniao_id">商户ID</label>
                </dt>
                <dd class="opt">
                    <input id="baidu_push_android_key" name="express_kdniao_id" value="<{if isset($express_api_info.kdniao.id)}><{$express_api_info.kdniao.id}><{/if}>" class="input-txt" type="text">
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="baidu_push_android_secret">商户私钥</label>
                </dt>
                <dd class="opt">
                    <input id="express_kdniao_key" name="express_kdniao_key" value="<{if isset($express_api_info.kdniao.key)}><{$express_api_info.kdniao.key}><{/if}>" class="input-txt" type="text">
                    <p class="notic">&nbsp;</p>
                </dd>
            </dl>
            <div class="bot"><a href="JavaScript:void(0);" class="ncap-btn-big ncap-btn-green" onclick="submit(this)">确认提交</a></div>
        </div>
    </form>
</div>
<script>
function submit(obj){
	form_data = $(obj).parents('form').serialize();
	//console.log(form_data)
	$.ajax({
		type: "post",
        url: "logistics_interface?op=edit",
        data: form_data,
        dataType: "json",
        success: function(data){
        		layer.msg(data.msg);
        }
	})
}
</script>

<div id="goTop"> <a href="JavaScript:void(0);" id="btntop"><i class="fa fa-angle-up"></i></a><a href="JavaScript:void(0);" id="btnbottom"><i class="fa fa-angle-down"></i></a></div>
</body>
</html>