<{include file="pageheader.html"}>
<style type="text/css">
	.delete_ago:hover{
		border:1px solid red!important;
		color: red!important;
	}
</style>
<body style="background-color: #FFF; overflow: auto;">

<div id="append_parent"></div>
<div id="ajaxwaitid"></div>

<div class="page">
  <div class="fixed-bar">
    <div class="item-title">
      <div class="subject">
        <h3>邮件日志</h3>
        <h5>平台发送邮件的记录</h5>
      </div>
      <ul class="tab-base nc-row"><li><a href="set" ><span>服务器设置</span></a></li>
      <li><a  href="templates" ><span>邮件模板</span></a></li>
      <li><a class="current"><span>邮件日志</span></a></li>
      </ul>
    </div>
  </div>
  <!-- 操作说明 -->
  <div class="explanation" id="explanation">
    <div class="title" id="checkZoom"><i class="fa fa-lightbulb-o"></i>
      <h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
      <span id="explanationZoom" title="收起提示"></span>
    </div>
    <ul>
      <li> 记录邮件发送的记录。</li>
    </ul>
  </div>
  <table id="flexigrid" style="display: none"></table>
  
</div>
<script type="text/javascript">
	$(function(){
    $("#flexigrid").flexigrid({
        url: 'get_log',
		method: 'POST', // data sending method,数据发送方式
		dataType : 'xml',
        colModel : [
            {display: '操作', name : 'operation', width : 60, sortable : false, align: 'center', className: 'handle-s'},
            {display: '操作人', name : 'send_user_name', width : 80, sortable : false, align: 'center'},
            {display: '内容', 	name : 'mail_template_content', 	width : 250, sortable : false, align: 'center'},
            {display: '操作时间', name : 'send_mail_time', width : 150, sortable : true, align: 'left'},
            {display: '对方邮箱', 	name : 'recevice_address', 	width : 150, sortable : false, align: 'center'},
			{display: '是否成功', 	name : 'is_success', 	width : 80, sortable : false, align: 'center'}
            ],
			
        buttons : [
            {display: '<i class="fa fa-trash"></i>批量删除', name : 'delete', bclass : 'del', title : '批量删除', onpress : fg_operate },
            {display: '<i class="fa fa-trash"></i>删除6个月前的数据', name : 'delete_ago', bclass : 'delete_ago', title : '删除6个月前的数据', onpress : fg_operate },
			{display: '<i class="fa fa-file-excel-o"></i>导出数据', name : 'csv', bclass : 'export', title : '将选定行数据导出excel文件,如果不选中行，将导出列表所有数据', onpress : fg_operate }		
            ],
        
        sortname : "send_mail_id",	//自定义排序事件
		sortorder : "desc",	//正倒序
		title : '邮件发送日志',
		rp:20,
		usepager : true, //是否分页
    });
	
});

function fg_operate(name, grid) {
    if (name == 'csv') {
    	var itemlist = new Array();
        if($('.trSelected',grid).length>0){
            $('.trSelected',grid).each(function(){
            	itemlist.push($(this).attr('data-id'));
            });
        } 
        fg_csv(itemlist);
    }else if (name == 'delete') {
        if($('.trSelected',grid).length>0){
            var itemlist = new Array();
            $('.trSelected',grid).each(function(){
            	itemlist.push($(this).attr('data-id'));
            });
            fg_delete(itemlist);
        } else {
            return false;
        }
    }else if (name == 'delete_ago') {
    	if(confirm('删除后将不能恢复，确认删除吗？')){
    		$.ajax({
    	        type: "POST",
    	        dataType: "json",
    	        url: "del",
    	        data: {op:"ago"},
    	        success: function(data){
				if(data.state=='403'){
				login_ajax('shopadmin');
			}else
    	            if (data.state){
    	            	layer.msg(data.msg);
    	                $("#flexigrid").flexReload();
    	                
    	            } else {
    	            	layer.msg(data.msg);
    	            }
    	        }
    	    });
        }
    }
}
function fg_csv(ids) {	
	id = ids.join(',');
    window.location.href = 'excel?op=EmailExcel&id='+id;
}
function fg_delete(id) {
	if (typeof id == 'number') {
    	var id = new Array(id.toString());
	};
	if(confirm('删除后将不能恢复，确认删除这 ' + id.length + ' 项吗？')){
		id = id.join(',');
	} else {
        return false;
    }
	$.ajax({
        type: "POST",
        dataType: "json",
        url: "del",
        data: {
        	op:"list_del",
        	del_id:id,
        },
        success: function(data){
		if(data.state=='403'){
				login_ajax('shopadmin');
			}else
            if (data.state){
            	layer.msg(data.msg);
                $("#flexigrid").flexReload();
                
            } else {
            	layer.msg(data.msg);
            }
        }
    });
}


</script> 
<div id="goTop"> <a href="JavaScript:void(0);" id="btntop"><i class="fa fa-angle-up"></i></a><a href="JavaScript:void(0);" id="btnbottom"><i class="fa fa-angle-down"></i></a></div>
</body>
</html>