<{include file="pageheader.html"}>
<body style="background-color: #FFF; overflow: auto;">

<div class="page">
    <div class="fixed-bar">
        <div class="item-title"><a class="back" href="mall_payment" title="返回支付方式列表"><i class="fa fa-arrow-circle-o-left"></i></a>
            <div class="subject">
                <h3>支付方式 - 设置“货到付款”</h3>
                <h5>商城购物可使用支付方式/接口设置</h5>
            </div>
        </div>
    </div>
    <form id="post_form" action="mall_payment_submit" method="post" name="form1">
        <input type="hidden" name="form_submit" value="ok">
        <input type="hidden" name="payment_code" value="hdfk">
        <div class="ncap-form-default">
            <dl class="row">
                <dt class="tit">启用</dt>
                <dd class="opt">
                    <div class="onoff">
                        <label for="payment_state1" class="cb-enable <{if isset($payment.state)}><{if $payment.state neq 0}>selected<{/if}><{else}>selected<{/if}>">是</label>
                        <label for="payment_state2" class="cb-disable <{if isset($payment.state)}><{if $payment.state eq 0}>selected<{/if}><{/if}>">否</label>
                        <input type="radio" <{if isset($payment.state)}><{if $payment.state neq 0}>checked<{/if}><{else}>checked<{/if}> value="1" name="payment_state" id="payment_state1">
                        <input type="radio" <{if isset($payment.state)}><{if $payment.state eq 0}>checked<{/if}><{/if}> value="0" name="payment_state" id="payment_state2">
                    </div>
                    <p class="notic"></p>
                </dd>
            </dl>
            <div class="bot"><a href="JavaScript:void(0);" class="ncap-btn-big ncap-btn-green" id="submitBtn" onclick="document.form1.submit()">确认提交</a></div>
        </div>
    </form>
</div>
<script>
</script>
<div id="goTop"><a href="JavaScript:void(0);" id="btntop"><i class="fa fa-angle-up"></i></a><a href="JavaScript:void(0);" id="btnbottom"><i class="fa fa-angle-down"></i></a></div>
</body>
</html>