<{include file="pageheader.html"}>
<link href="<{TEMPLE}>css/admin_other.css" rel="stylesheet" type="text/css"/>
<link href="<{TEMPLE}>css/evol.colorpicker.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="<{TEMPLE}>js/evol.colorpicker.min.js"></script>


<body style="background-color: #FFF; overflow: auto;">
<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>图片设置</h3>
                <h5>商城相关图片及水印等参数设定</h5>
            </div>
            <ul class="tab-base nc-row">
                <li><a href="mall_pic_set"><span>默认图片</span></a></li>
                <li><a  class="current"><span>水印管理</span></a></li>
            </ul>
        </div>
    </div>
    <form method="post" action="mall_watermark_submit" enctype="multipart/form-data"  id="wm_form"  name="wm_form">
        <div class="ncsc-form-default">
            <dl class="row">
				<dt class="tit">
					<label>是否开启水印</label>
				</dt>
				<dd class="opt">
					<div class="onoff">
						<label for="qq_isuse_1" class="cb-enable <{if isset($water_state)&&$water_state==1}>selected<{/if}> " title="开启"><span>开启</span></label>
						<label for="qq_isuse_0" class="cb-disable <{if isset($water_state)&&$water_state==0}>selected<{/if}>  " title="关闭"><span>关闭</span></label>
						<input type="radio" id="qq_isuse_1" name="qq_isuse"  <{if isset($water_state)&&$water_state==1}>checked<{/if}>   value="1"  >
						<input type="radio" id="qq_isuse_0" name="qq_isuse"  <{if isset($water_state)&&$water_state==0}>checked<{/if}> value="0"  >
					</div>
					<p class="notic">开启水印则图片才会添加水印</p>
				</dd>
			</dl>
            <dl>
                <dt>水印图片：</dt>
                <dd>
                    <div class="ncsc-upload-thumb watermark-pic"><p><i class="fa fa-photo"></i></p></div>
                    <div class="ncsc-upload-btn">
                        <a href="javascript:void(0);">
                            <span>
                              <input type="file" hidefocus="true" size="1" class="input-file" name="image" id="image" nc_type="logo">
                            </span>
                            <p><i class="fa fa-upload"></i>图片上传</p>
                        </a>
                    </div>
                    <p class="hint">请选择水印图片</p>
                </dd>
            </dl>
            <dl>
                <dt>图片位置：</dt>
                <dd>
                    <ul class="ncsc-watermark-pos" id="wm_image_pos">
                        <li>
                            <input type="radio" name="image_pos" <{if $water_overlay.wm_number_alignment eq 1}>checked<{/if}> value="1" style="display: none;">
                            <label <{if $water_overlay.wm_number_alignment eq 1}>class="checked"<{/if}>>左上</label>
                        </li>
                        <li>
                            <input type="radio" name="image_pos" <{if $water_overlay.wm_number_alignment eq 2}>checked<{/if}> value="2" style="display: none;">
                            <label <{if $water_overlay.wm_number_alignment eq 2}>class="checked"<{/if}>>正上</label>
                        </li>
                        <li>
                            <input type="radio" <{if $water_overlay.wm_number_alignment eq 3}>checked<{/if}> name="image_pos" value="3" style="display: none;">
                            <label <{if $water_overlay.wm_number_alignment eq 3}>class="checked"<{/if}>>右上</label>
                        </li>
                        <li>
                            <input type="radio" <{if $water_overlay.wm_number_alignment eq 4}>checked<{/if}> name="image_pos" value="4" style="display: none;">
                            <label <{if $water_overlay.wm_number_alignment eq 4}>class="checked"<{/if}>>左中</label>
                        </li>
                        <li>
                            <input type="radio" <{if $water_overlay.wm_number_alignment eq 5}>checked<{/if}> name="image_pos" value="5" style="display: none;">
                            <label <{if $water_overlay.wm_number_alignment eq 5}>class="checked"<{/if}>>中间</label>
                        </li>
                        <li>
                            <input type="radio" <{if $water_overlay.wm_number_alignment eq 6}>checked<{/if}> name="image_pos" value="6" style="display: none;">
                            <label <{if $water_overlay.wm_number_alignment eq 6}>class="checked"<{/if}>>右中</label>
                        </li>
                        <li>
                            <input type="radio" name="image_pos" value="7" <{if $water_overlay.wm_number_alignment eq 7}>checked<{/if}> style="display: none;">
                            <label <{if $water_overlay.wm_number_alignment eq 7}>class="checked"<{/if}> >左下</label>
                        </li>
                        <li>
                            <input type="radio" <{if $water_overlay.wm_number_alignment eq 8}>checked<{/if}> name="image_pos" value="8" style="display: none;">
                            <label <{if $water_overlay.wm_number_alignment eq 8}>class="checked"<{/if}>>中下</label>
                        </li>
                        <li>
                            <input type="radio" <{if $water_overlay.wm_number_alignment eq 9}>checked<{/if}> name="image_pos" value="9" style="display: none;">
                            <label <{if $water_overlay.wm_number_alignment eq 9}>class="checked"<{/if}>>右下</label>
                        </li>
                    </ul>
                    <p class="hint">选择水印图片放置位置</p>
                </dd>
            </dl>
            <dl>
                <dt>水印文字：</dt>
                <dd>
                    <p>
                        <textarea name="wm_text" class="textarea w200"><{$water_text.wm_text}></textarea>
                    </p>
                    <p class="hint">水印文字,建议用字母和数字</p>
                </dd>
            </dl>
            <dl>
                <dt>文字大小：</dt>
                <dd><input id="wm_text_size" class="text w40 valid" type="number" name="wm_text_size" value="<{$water_text.wm_font_size}>"><em class="add-on">px</em><span class="err"></span>
                    <p class="hint">设置水印文字大小</p>
                </dd>
            </dl>
            <dl>
                <dt>文字颜色：</dt>
                <dd>
                    <p></p><div class="w160">
                    <div class="color">
                        <input id="wm_text_color" class="text w100 colorPicker evo-cp0" type="text" name="wm_text_color" value="<{$water_text.wm_font_color}>"><span class="err"></span>

                    </div>
                </div>
                    <div id="colorpanel" style="display:none;width:253px;height:177px;"></div><p></p>
                    <p class="hint" style="clear: both;">水印字体的颜色值</p>
                </dd>
            </dl>
            <dl>
                <dt>文字字体：</dt>
                <dd>
                    <p>
                        <select name="wm_text_font" class="w80">
                            <option value="<{if !empty($water_text.wm_font_path)}><{$water_text.wm_font_path}><{/if}>"><{if !empty($water_text.wm_font_path)}><{$water_text.wm_font_path}><{else}>-请选择-<{/if}></option>
                            <{foreach from=$font_file item=v}>
                             <option value="<{$v}>"><{$v}></option>  
                            <{/foreach}>
                        </select>
                    </p>
                    <p class="hint">水印文字的字体,如果文字使用汉字则管理员要安装中文的字体</p>
                </dd>
            </dl>
            <dl>
                <dt>文字位置：</dt>
                <dd>
                    <ul class="ncsc-watermark-pos" id="wm_text_pos">

                        <li>
                            <input type="radio" <{if $water_text.wm_number_alignment eq 1}>checked<{/if}> name="wm_text_pos" value="1" style="display: none;">
                            <label <{if $water_text.wm_number_alignment eq 1}>class="checked"<{/if}>>左上</label>
                        </li>
                        <li>
                            <input type="radio" <{if $water_text.wm_number_alignment eq 2}>checked<{/if}> name="wm_text_pos" value="2" style="display: none;">
                            <label <{if $water_text.wm_number_alignment eq 2}>class="checked"<{/if}>>正上</label>
                        </li>
                        <li>
                            <input type="radio" <{if $water_text.wm_number_alignment eq 3}>checked<{/if}> name="wm_text_pos" value="3" style="display: none;">
                            <label <{if $water_text.wm_number_alignment eq 3}>class="checked"<{/if}>>右上</label>
                        </li>
                        <li>
                            <input type="radio" <{if $water_text.wm_number_alignment eq 4}>checked<{/if}> name="wm_text_pos" value="4" style="display: none;">
                            <label <{if $water_text.wm_number_alignment eq 4}>class="checked"<{/if}>>左中</label>
                        </li>
                        <li>
                            <input type="radio" <{if $water_text.wm_number_alignment eq 5}>checked<{/if}> name="wm_text_pos" value="5" style="display: none;">
                            <label <{if $water_text.wm_number_alignment eq 5}>class="checked"<{/if}>>中间</label>
                        </li>
                        <li>
                            <input type="radio" <{if $water_text.wm_number_alignment eq 6}>checked<{/if}> name="wm_text_pos" value="6" style="display: none;">
                            <label <{if $water_text.wm_number_alignment eq 6}>class="checked"<{/if}>>右中</label>
                        </li>
                        <li>
                            <input type="radio" <{if $water_text.wm_number_alignment eq 7}>checked<{/if}> name="wm_text_pos" value="7" style="display: none;">
                            <label <{if $water_text.wm_number_alignment eq 7}>class="checked"<{/if}>>左下</label>
                        </li>
                        <li>
                            <input type="radio" <{if $water_text.wm_number_alignment eq 8}>checked<{/if}> name="wm_text_pos" value="8" style="display: none;">
                            <label <{if $water_text.wm_number_alignment eq 8}>class="checked"<{/if}>>中下</label>
                        </li>
                        <li>
                            <input type="radio" <{if $water_text.wm_number_alignment eq 9}>checked<{/if}> name="wm_text_pos" value="9" style="display: none;">
                            <label <{if $water_text.wm_number_alignment eq 9}>class="checked"<{/if}>>右下 </label>
                        </li>
                    </ul>
                </dd>
            </dl>
            <div class="bottom">
                <label class="submit-border"><input type="submit" class="submit" id="water_button" value="提交"></label>
            </div>
        </div>
    </form>
</div>
<script>
    var SITEURL = "";
    $(function(){
        $("div").cssRadio();
        $('#wm_text_color').colorpicker({showOn:'both'});
        $('#wm_text_color').parent().css("width",'');
        $('#wm_text_color').parent().addClass("color");
        $('#del_image').click(function (){
            var result = confirm('确定删除水印图片?');
            if (result)
            {
                $('#image').css('display','none');
                $('#del_image').css('display','none');
                $('#is_del_image').val('ok');
                $('#wm_form').submit();
            }
        });
        /*表单验证*/
        $(".bottom .submit").click(function(){
            if($("#wm_form").valid()){
                $("#wm_form").submit();
            }
        })
        $('#wm_form').validate({
            errorPlacement: function(error, element){
                var error_td = element.nextAll('span.err');
                error_td.append(error);
            },
            rules : {
                wm_text_size : {
                    required : true,
                    number : true
                },
                wm_text_color : {
                    required : true,
                    maxlength : 7
                }
            },
            messages : {
                wm_text_size : {
                    required : '<i class="fa fa-exclamation-circle"></i>水印文字大小不能为空',
                    number : '<i class="fa fa-exclamation-circle"></i>水印文字大小必须为数字'
                },
                wm_text_color : {
                    required : '<i class="fa fa-exclamation-circle"></i>水印字体颜色不能为空',
                    maxlength : '<i class="fa fa-exclamation-circle"></i>字体颜色值格式不正确'
                }
            }
        });
        
        
    });

    jQuery.fn.cssRadio = function () {
        $(":input[type=radio] + label").each( function(){
                    if ( $(this).prev()[0].checked )
                        $(this).addClass("checked");
                })
                .hover(
                        function() { $(this).addClass("over"); },
                        function() { $(this).removeClass("over"); }
                )
                .click( function() {
                    var contents = $(this).parent().parent(); /*多组控制 关键*/
                    $(":input[type=radio] + label", contents).each( function() {
                        $(this).prev()[0].checked=false;
                        $(this).removeClass("checked");
                    });
                    $(this).prev()[0].checked=true;
                    $(this).addClass("checked");
                }).prev().hide();
    };

</script>
<div id="goTop"> <a href="JavaScript:void(0);" id="btntop"><i class="fa fa-angle-up"></i></a><a href="JavaScript:void(0);" id="btnbottom"><i class="fa fa-angle-down"></i></a></div>
</body>
</html>