<{include file="pageheader.html"}>
<style>
    dt.tit {
        width: 100px !important;
        padding-right: 2px !important;
        font-size:14px !important;
    }
    .ncap-form-default dl.row{
        padding:4px 0 !important;
    }
    .input-text{
        width:150px ;
        height:30px !important;
    }
    .ncap-form-default dd.opt {
        text-align: left;
        width: 20%;
    }
    .ncap-form-default dd.opt1 {
        text-align: left;
        width: 80%;
    }
    .ncap-form-default dd.opt2 {
        text-align: left;
        min-width: 155px !important;
    }
    dl.row1{
        float:left;
        width:30%;
    }
    dl.row2{
        float:left;
        width:40% !important;
    }
    span.check{
        padding:0 4px;
        border-left:1px solid #ccc;
        border-bottom:1px solid #ccc;
        border-top:1px solid #ccc;
        display:inline-block;
        height:28px;
        line-height:28px;
    }
    span.check_box{
        display:inline-block;
        height:30px;
        cursor:pointer;
        border-right:1px solid #ccc;
    }
    span.current{
        background-color:#ccc;
    }
    .select2{
        margin-bottom:0;
    }
</style>
<body style="background-color: #FFF; overflow: auto;">
<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>会员管理</h3>
                <h5>商城注册会员账户信息设置管理</h5>
            </div>
        </div>
    </div>
    <!-- 操作说明 -->
    <div class="explanation" id="explanation">
        <div class="title" id="checkZoom"><i class="fa fa-lightbulb-o"></i>
            <h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
            <span id="explanationZoom" title="收起提示"></span> </div>
        <ul>
            <li>通过会员管理，你可以进行查看、编辑会员资料等操作</li>
            <li>你可以根据条件搜索会员，然后选择相应的操作</li>
        </ul>
    </div>
    <form id="formSearch" method="post">

        <div class="ncap-form-default">
            <dl class="row">
                <dt class="tit">
                    <label for="class_sort">加入时间：</label>
                </dt>
                <dd class="opt opt1">
                    <div class="area-region-select">
                        <input type="text" id="start_time" onclick="laydate()" value="" name="start_time" style="background-color: #fff" class="input-text  data-start">
                        至&nbsp;<input type="text" id="end_time" onclick="laydate()" value="" name="end_time" style="background-color: #fff" class="input-text  data-end">
                        <input name="time" class="check_i" type="hidden" value=""/>
						<span class="check_box  check_boxtime">
								 <span class="check  all current" data-para="all">全部</span>
								 <span class="check time" data-start="<{$now_start}>" data-end="<{$now_end}>">今日</span>
								 <span class="check time" data-start="<{$tom_start}>" data-end="<{$tom_end}>">昨日</span>
								 <span class="check time" data-start="<{$week_start}>" data-end="<{$now_end}>">最近7天</span>
								 <span class="check time" data-start="<{$mon_start}>" data-end="<{$now_end}>">最近30天</span>
						        </span>
                    </div>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="class_name">消费总金额：</label>
                </dt>
                <dd class="opt opt1">
                    <input type="number" id="start_monney"  value="" name="start_monney" style="background-color: #fff" class="input-text  data-start">
                    至&nbsp;<input type="number" id="end_monney"  value="" name="end_monney" style="background-color: #fff" class="input-text  data-end">
                    <input name="monney" class="check_i" type="hidden" value=""/>
					<span class="check_box check_boxmoney">
					 <span class="check all current" data-para="all">全部</span>
					 <span class="check money" data-start="100" data-end="500">100~500元</span>
					 <span class="check money" data-start="500" data-end="2000">500~2000元</span>
					 <span class="check money" data-start="2000" data-end="">2000元以上</span>
					 </span>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="class_name">消费单数：</label>
                </dt>
                <dd class="opt opt1">
                    <input type="number" id="start_num"  value="" name="start_num" style="background-color: #fff" class="input-text  data-start">
                    至&nbsp;<input type="number" id="end_num"  value="" name="end_num" style="background-color: #fff" class="input-text  data-end">
                    <input name="num" class="check_i" type="hidden" value=""/>
					<span class="check_box check_boxnumber">
							 <span class="check all current" data-para="all">全部</span>
							 <span class="check number" data-start="0" data-end="10">0~10单</span>
							 <span class="check number" data-start="10" data-end="50">10~50单</span>
							 <span class="check number" data-start="50" data-end="">50单以上</span>
						    </span>
                </dd>
            </dl>
            <!-- 					<dl class="row row1">
                                    <dt class="tit">
                                <label for="class_sort">关注公众号：</label>
                            </dt>
                                    <dd class="opt">
                                        <div class="area-region-select">
                                            <select class="valid" name="wx_num">
                                                <option value="" >-请选择-</option>
                                                <option value="1" >-男-</option>
                                                <option value="2" >-女-</option>

                                            </select>
                                            <span class="err"></span></div>
                                        <span class="err"></span>
                                    </dd>
                                    </dl> -->
            <dl class="row">
                <dt class="tit">
                    <label for="Average_price">客单价：</label>
                </dt>
                <dd class="opt opt1">
                    <input type="number" id="Average_price"  value="" name="Average_price" style="background-color: #fff" class="input-text  data-start">

					<span class="check_box check_boxnumber">
							 <span class="check all current" data-para="all">全部</span>
							 <span class="check number" data-start="100" data-end="300">100元</span>
							 <span class="check number" data-start="100" data-end="300">300元</span>
							 <span class="check number" data-start="500" data-end="">500元以上</span>
						    </span>
                </dd>
            </dl>

<!--

            <dl class="row">
                <dt class="tit">
                    <label for="buy_this">买过的商品：</label>
                </dt>
                <dd class="opt opt1">
                    <input type="text" id="buy_this"  value="" name="buy_this" style="background-color: #fff" class="input-text ">

                </dd>
            </dl>
-->

            <dl class="row">
                <dt class="tit">
                    <label for="active_start_time">活跃会员 ：</label>
                </dt>
                <dd class="opt opt1">
                    <div class="area-region-select">
                        <input type="text" id="active_start_time" onclick="laydate()" value="" name="active_start_time" style="background-color: #fff" class="input-text  data-start">
                        至&nbsp;<input type="text" id="active_end_time" onclick="laydate()" value="" name="active_end_time" style="background-color: #fff" class="input-text  data-end">
                        <input name="time" class="check_i" type="hidden" value=""/>
						<span class="check_box  check_boxtime">
								 <span class="check  all current" data-para="all">全部</span>
								 <span class="check time" data-start="<{$week_start}>" data-end="<{$now_end}>">最近7天</span>
								 <span class="check time" data-start="<{$mon_start}>" data-end="<{$now_end}>">最近30天</span>
								 <span class="check time" data-start="<{$mon_start_3}>" data-end="<{$now_end}>">最近3个月</span>
						        </span>
                    </div>
                </dd>
            </dl>



            <dl class="row row1">
                <dt class="tit">
                    <label for="class_sort">所属门店：</label>
                </dt>
                <dd class="opt">
                    <div class="area-region-select">
                        <select class="valid select2" name="understore" id="area_region_select_store">
                            <option value="" >-请选择-</option>
                            <{if !empty( $stores)}>
                            <{foreach  $stores as $key=>$val}>
                            <option value="<{$val.store_id}>"  class="understore">-<{$val.store_name}>-</option>
                            <{/foreach}>
                            <{/if}>
                        </select>
                        <span class="err"></span></div>
                    <span class="err"></span>

                </dd>
            </dl>
            <dl class="row row1">
                <dt class="tit">
                    <label for="class_sort">所属导购：</label>
                </dt>
                <dd class="opt">
                    <div class="area-region-select">
                        <select class="valid select2" name="underguide" id="area_region_select_guide">
                            <option value=""  class="underguide"  >-请选择-</option>
                            <{if !empty( $guide)}>
                            <{foreach  $guide as $key=>$val}>
                            <option value="<{$val.spg_id}>"  class="understore">-<{$val.spg_name}>-</option>
                            <{/foreach}>
                            <{/if}>
                        </select>
                        <span class="err"></span></div>
                    <span class="err"></span>

                </dd>
            </dl>
            <!-- 					<dl class="row row1">
                                    <dt class="tit">
                                <label for="class_sort">申请会员卡：</label>
                            </dt>

                                    <dd class="opt">
                                    <input type="text" id="card"  value="" name="card" style="background-color: #fff" class="input-text">
                                    </dd>
                                    </dl>
                                    <dl class="row row1">
                                    <dt class="tit">
                                <label for="class_sort">卡号：</label>
                            </dt>
                                    <dd class="opt">
                                    <input type="text" id="card_num"  value="" name="card_num" style="background-color: #fff" class="input-text">
                                    </dd>
                                    </dl> -->


            <dl class="row row1">
                <dt class="tit">
                    <label for="class_sort">姓名：</label>
                </dt>
                <dd class="opt">
                    <input type="text" id="true_name"  value="" name="true_name" style="background-color: #fff" class="input-text">
                </dd>
            </dl>
            <dl class="row row1">
                <dt class="tit">
                    <label for="class_sort">微信昵称：</label>
                </dt>
                <dd class="opt">
                    <input id="wx_nike" name="wx_nike"  type="text" class="input-text" value="">
                    <span class="err"></span>

                </dd></dl>
            <dl class="row row1 row2">
                <dt class="tit">
                    <label for="class_sort">手机号：</label>
                </dt>
                <dd class="opt opt2">
                    <input type="text" id="mobile"  value="" name="mobile" style="background-color: #fff" class="input-text">
                </dd>
                <a id="submit" href="javascript:void(0)" class="btn btn-success radius">搜索</a>
            </dl>

        </div>
    </form>
    <div id="flexigrid"></div>
</div>
<script type="text/javascript">

    $(".select2").select2({
        width:'150px'
    });
    $(function(){
        $('span.check').click(function(){
            $(this).parents('dd').find('.check_i').val("");
            $(this).parents('dd').find('.data-start').val("");
            $(this).parents('dd').find('.data-end').val("");
            $(this).siblings('span').removeClass('current');
            if($(this).hasClass("all")){
                var time = $(this).attr('data-para');
                $(this).parents('dd').find('.check_i').val(time);
            }else{
                var datastart =$(this).attr('data-start');
                var dataend =$(this).attr('data-end');
                $(this).parents('dd').find('.data-start').val(datastart);
                $(this).parents('dd').find('.data-end').val(dataend);
            }
            $(this).addClass('current');
        })
        $("#flexigrid").flexigrid({
            url: 'member_send_list?role=<{if isset($role)}><{$role}><{/if}>',
            colModel : [
                {display: '操作', name : 'operation', width : 140, sortable : false, align: 'center'},
                {display: '会员姓名', name : 'member_id', width : 80, sortable : true, align: 'left'},
                /* {display: '会员卡', name : 'member_name', width : 80, sortable : true, align: 'center'}, */
                {display: '手机号', name : 'member_email', width : 120, sortable : true, align: 'center'},
                {display: '性别', name : 'member_mobile', width : 40, sortable : true, align: 'center'},
                {display: '最近绑定导购', name : 'member_sex', width : 80, sortable : true, align: 'center'},
                {display: '付款订单数', name : 'member_truename', width : 80, sortable : true, align: 'center'},
                {display: '付款订单额', name : 'member_birthday', width : 100, sortable : true, align: 'center'},
                /*  {display: '公众号', name : 'member_time', width : 100, sortable : true, align: 'center'}, */
                {display: '剩余积分', name : 'member_login_time', width : 80, sortable : true, align: 'center'},
                {display: '账户余额', name : 'member_login_ip', width : 100, sortable : true, align: 'center'},
                /* {display: '可用充值卡', name : 'member_points', width : 60, sortable : true, align: 'center'}, */
                {display: '加入时间', name : 'member_grade', width : 130, sortable : false, align: 'center'},
                {display: '省份(直辖市)', name : 'member_province', width : 80, sortable : false, align: 'center'},
                {display: '市', name : 'member_city', width : 80, sortable : false, align: 'center'},
                {display: '区(县)', name : 'member_area', width : 80, sortable : false, align: 'center'},
            ],
            buttons : [
                {display: '<i class="fa fa-plus"></i>发送短信消息', name : 'send_message', bclass : 'add', title : '发送短信消息', onpress : fg_operate },
                {display: '<i class="fa fa-plus"></i>发微信消息', name : 'send_weixin', bclass : 'add', title : '发微信消息', onpress : fg_operate },
                {display: '<i class="fa fa-plus"></i>发送邮件消息', name : 'send_mail', bclass : 'add', title : '发送邮件消息', onpress : fg_operate },

                     ],

            title: '商城会员列表'
        });
        $('#submit').click(function(){
            var stime=$("#start_time").val();
            var  etime=$("#end_time").val();
            if(stime||etime)
            {
                if(Date.parse(stime)>Date.parse(etime))
                {
                    layer.msg('开始时间必须小于结束时间');
                    return false;
                }
            }
            $("#flexigrid").flexOptions({url: 'member_send_list?role=<{if isset($role)}><{$role}><{/if}>&'+$("#formSearch").serialize(),query:'',qtype:''}).flexReload();
        })

        $("#area_region_select_store").change(function(){
            var  storeid = $(this).val();
            if(storeid){
                $.ajax({
                    type: "post",
                    dataType: "json",
                    url: "get_guide_info",
                    data: "storeid="+storeid,
                    success: function(data){
                        if(data.state){
                            var htmlStr = '<option value=""  class="underguide"  >-请选择-</option>';
                            $.each(data.data,function(k,v){
                                htmlStr+='<option value="'+v.spg_id+'" >-'+v.spg_name+'-</option>';
                            });
                            $('#area_region_select_guide').html(htmlStr);
                        }else {
                            var htmlStr = '<option value=""  class="underguide"  >-请选择-</option>';
                            $('#area_region_select_guide').html(htmlStr);
                        }
                    }
                });
            }
        })


    });




    function fg_operate(name, grid) {
        if (name == 'send_message') {

            var itemlist = new Array();
            if ($('.trSelected', grid).length > 0) {
                $('.trSelected', grid).each(function () {
                    itemlist.push($(this).attr('data-id'));
                });
                send_message(itemlist, 'short_message');
            }
            } else if (name == 'send_mail') {
                var itemlist = new Array();
                if ($('.trSelected', grid).length > 0) {
                    $('.trSelected', grid).each(function () {
                        itemlist.push($(this).attr('data-id'));
                    });
                    send_message(itemlist, 'email');
                }

                } else {
                    var itemlist = new Array();
                    if ($('.trSelected', grid).length > 0) {
                        $('.trSelected', grid).each(function () {
                            itemlist.push($(this).attr('data-id'));
                        });
                        send_message(itemlist, 'send_weixin');

                    }
                }


            }






    function send_message(ids,type){
        if(ids.length == 0 ){
            layer.msg('至少选择一个会员！');
            return false;
        }

        id = ids.join(',');
        window.location.href = 'send_message?role=<{if isset($role)}><{$role}><{/if}>&type='+type+'&id=' + id+'&'+$("#formSearch").serialize();

    }


</script>
<div id="goTop"> <a href="JavaScript:void(0);" id="btntop"><i class="fa fa-angle-up"></i></a><a href="JavaScript:void(0);" id="btnbottom"><i class="fa fa-angle-down"></i></a></div>
</body>
</html>