<{include file="pageheader.html"}>

<body style="background-color: #FFF; overflow: auto;">
<div class="page">
  <div class="fixed-bar">
    <div class="item-title">
      <div class="subject">
        <h3>拼团管理</h3>
        <h5>商品拼团促销活动设置及管理</h5>
      </div>
    </div>
  </div>
  <!-- 操作说明 -->
  <div class="explanation" id="explanation">
    <div class="title" id="checkZoom"><i class="fa fa-lightbulb-o"></i>
      <h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
      <span id="explanationZoom" title="收起提示"></span> </div>
    <ul>
      <li>取消操作不可恢复，请慎重操作</li>
      <li>点击详细链接查看活动详细信息</li>
    </ul>
  </div>
  <div id="flexigrid"></div>
  <div class="ncap-search-ban-s" id="searchBarOpen"><i class="fa fa-search-plus"></i>高级搜索</div>
  <div class="ncap-search-bar">
    <div class="handle-btn" id="searchBarClose"><i class="fa fa-search-minus"></i>收起边栏</div>
    <div class="title">
      <h3>高级搜索</h3>
    </div>
    <form method="get" name="formSearch" id="formSearch">
      <input type="hidden" name="advanced" value="1">
      <div id="searchCon" class="content ps-container ps-active-x" style="height: 520px;">
        <div class="layout-box">
          <dl>
            <dt>活动名称</dt>
            <dd>
              <input type="text" name="pintuan_name" class="s-input-txt" placeholder="请输入活动名称关键字">
            </dd>
          </dl>
          <dl>
            <dt>店铺名称</dt>
            <dd>
              <input type="text" name="store_name" class="s-input-txt" placeholder="请输入店铺名称关键字">
            </dd>
          </dl>
          <dl>
            <dt>活动时期筛选</dt>
            <dd>
              <label>
                <input type="text" name="pdate1" onclick="laydate()" data-dp="1" class="s-input-txt hasDatepicker" placeholder="结束时间不晚于" id="dp1477989637036" readonly="readonly">
              </label>
              <label>
                <input type="text" name="pdate2" onclick="laydate()" data-dp="1" class="s-input-txt hasDatepicker" placeholder="开始时间不早于" id="dp1477989637037" readonly="readonly">
              </label>
            </dd>
          </dl>

        </div>
        </div>
      <div class="bottom">
        <a href="javascript:void(0);" id="ncsubmit" class="ncap-btn ncap-btn-green">提交查询</a>
        <a href="javascript:void(0);" id="ncreset" class="ncap-btn ncap-btn-orange" title="撤销查询结果，还原列表项所有内容"><i class="fa fa-retweet"></i>撤销</a>
      </div>
    </form>
  </div>
</div>
<div id="goTop">
    <a href="JavaScript:void(0);" id="btntop"><i class="fa fa-angle-up"></i></a>
    <a href="JavaScript:void(0);" id="btnbottom"><i class="fa fa-angle-down"></i></a>
</div>
<script type="text/javascript">

  $(function(){

    $("#flexigrid").flexigrid({
      url: 'sales_together_add?op=table',
      colModel: [
        {display: '操作', name: 'operation', width: 150, sortable: false, align: 'center', className: 'handle'},
        {display: '活动名称', name: 'pintuan_name', width: 400, sortable: false, align: 'left'},
        {display: '开始时间', name: 'start_time_text', width: 120, sortable: false, align: 'center'},
        {display: '结束时间', name: 'end_time_text', width: 120, sortable: false, align: 'center'},
        {display: '参团人数', name: 'min_num', width: 80, sortable: false, align: 'center'},
        {display: '参团次数', name: 'min_num', width: 80, sortable: false, align: 'center'},
        {display: '状态', name: 'state_text', width: 80, sortable: false, align: 'center'}
      ],
      buttons : [
        {display: '<i class="fa fa-plus"></i>新增活动', name : 'add', bclass : 'add', title : '新增数据', onpress : fg_add },
        {display: '<i class="fa fa-trash"></i>批量删除', name : 'delete', bclass : 'del', title : '将选定行数据批量删除' },
      ],
      searchitems: [
        {display: '活动名称', name: 'pintuan_name', isdefault: true},
        {display: '店铺名称', name: 'store_name'}
      ],
      sortname: "pintuan_id",
      sortorder: "desc",
      title: '拼团活动列表'
    });

    // 高级搜索重置
    $('#ncreset').click(function(){
     // $("#flexigrid").flexOptions({url: flexUrl}).flexReload();
      $("#formSearch")[0].reset();
    });

    //新增活动
    function fg_add(){
      window.location='sales_together_add';
    }

  });
  function fg_spgl(id){
	  id = JSON.stringify(id);
      window.location='sales_together_goods?id='+id;
    }
  function edit_together(id){
	  id = JSON.stringify(id);
      window.location='sales_together_add?id='+id;
    }
  function fg_delete(id,name){
  	layer.confirm('确认删除活动“'+name+'”并取消活动下的商品吗？', {
  		  btn: ['确认','取消'] //按钮
  		}, function(){
  			$.ajax({
  		        type: "post",
  		        dataType: "json",
  		        url: "sales_together?op=del",
  		        data: {id:id,name:name},
  		        success: function(data){
  		            //alert(123);
					if(data.state=='403'){
				login_ajax('shopadmin');return false;
			}
  		            if (data.state){
  		            	layer.msg(data.msg,{icon:1});
  		                $("#flexigrid").flexReload();
  		            } else {
  		            	layer.msg(data.msg,{icon:2});
  		            }
  		        }
  		    });
  		});
  }


</script>
</body>
</html>