<{include file="pageheader.html" }>
<!-- <link href="<{PLUGIN}>plugins/muitipleSelect/sumoselect.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="<{PLUGIN}>plugins/muitipleSelect/jquery.sumoselect.min.js"></script> -->
<link type="text/css" rel="stylesheet" href="<{base_url()}>plugins/select2/css/select2.min.css">
<script type="text/javascript" src="<{base_url()}>plugins/select2/js/select2.min.js"></script>
<style>
	#allmap{width: 300px;height: 300px;}
    .select2{width:auto !important;min-width:100px;}
</style>
	<body style="background-color: #FFF; overflow: auto;">
		<div id="append_parent"></div>
		<div id="ajaxwaitid"></div>
		<div class="page">
			<div class="fixed-bar">
				<div class="item-title">
					<a class="back" href="javascript:history.back(-1)" title="返回列表"><i class="fa fa-arrow-circle-o-left"></i></a>
					<div class="subject">
						<h3>门店管理 - 编辑添加门店</h3>
						<h5>平台中的所有新闻的管理</h5>
					</div>
					<{if isset($store_data.store_id)}>
					<ul class="tab-base nc-row">
				        <li><a href="JavaScript:void(0);" class="current">基本信息</a></li>
				        <li><a href="store_of_goods?op=edit&id=<{$store_data.store_id}>">商品</a></li>
						  <li><a href="store_of_shopping_guide?op=edit&id=<{$store_data.store_id}>">导购</a></li>
                        <!--    <li><a href="store_of_freight_setting?op=edit&id=<{$store_data.store_id}>">运费</a></li>
                            <li><a href="store_of_notice_setting?op=edit&id=<{$store_data.store_id}>">通知</a></li>-->
				        <li><a href="store_of_other?op=edit&id=<{$store_data.store_id}>">其他</a></li>
			      </ul>
			      <{/if}>
				</div>
			</div>
			<!-- 操作说明 -->
			<div class="explanation" id="explanation">
				<div class="title" id="checkZoom"><i class="fa fa-lightbulb-o"></i>
					<h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
					<span id="explanationZoom" title="收起提示"></span> </div>
				<ul>
					<li> 若绑定云聚客后为未认证公众号，之后通过了微信认证，请重新授权补充权限。</li>
					<li>仅微信认证后的服务号可使用完整云聚客功能，若微信公众号接口异常，根据提示处理后请点击上方重新授权。</li>
					<li> 若公众号为订阅号，需通过微信认证才可支持微信支付；服务号均可支持。</li>
				</ul>
			</div>
			<form id="add_form" method="post" action="store_add" enctype="multipart/form-data">
			     <input type="hidden" name="store_id" id="store_id" value="<{if isset($store_data.store_id)}><{$store_data.store_id}><{/if}>">
				<div class="ncap-form-default">
					<dl class="row">
						<dt class="tit">
							<label for="class_name"><em>*</em>单位名称</label>
						</dt>
						<dd class="opt">
							<input type="text" value="<{if isset($store_data.company_name)}><{$store_data.company_name}><{/if}>" name="company_name" id="company_name" class="input-txt">
							<span class="err"></span>
							<p class="notic">公司营业执照全称或者个人的真实姓名</p>
						</dd>
					</dl>
					<dl class="row">
						<dt class="tit">
                    <label for="class_name"><em>*</em>门店名称</label>
                </dt>
						<dd class="opt">
							<input type="text" value="<{if isset($store_data.store_name)}><{$store_data.store_name}><{/if}>" name="class_name" id="class_name" class="input-txt">
							<span class="err"></span>
							<p class="notic">门店名称不能为空且不能超过30个字</p>
						</dd>
					</dl>
					<dl class="row">
						<dt class="tit">
                    <label for="class_sort"><em>*</em>外部编码</label>
                </dt>
						<dd class="opt">
							<input id="class_sort" name="class_code" id="class_code" type="text" class="input-txt" value="<{if isset($store_data.ous_out_sn)}><{$store_data.ous_out_sn}><{/if}>" placeholder="每个门店的编码是唯一的">
							<span class="err"></span>
                            <p class="notic">外部编码应设置在4(包含)-6(包含)位之间</p>
						</dd>
					</dl>
					<dl class="row">
						<dt class="tit">
                    <label for="class_sort"><em>*</em>联系地址</label>
                </dt>
						<dd class="opt">
							<div class="area-region-select">
								<select class="valid select2" id="addr" name="class_province">
								<option value="">-请选择-</option>
								<{foreach from=$area_data.0 item=v}>
								 <option value="<{$v.0}>" <{if isset($store_data.province_id)&&$store_data.province_id==$v.0}>selected<{/if}>><{$v.1}></option>
								<{/foreach}>
								</select>
								<select name="class_city" class="select2" id="addr_city">
								 <{if isset($store_data.province_id)}>
								<{foreach from=$area_data[$store_data.province_id] item=v}>
								 <option value="<{$v.0}>" <{if isset($store_data.city_id)&&$store_data.city_id==$v.0}>selected<{/if}>><{$v.1}></option>
								<{/foreach}>
								<{else}><option value="">-请选择-</option>
								<{/if}>
								
								</select>
								<select name="class_area" class="select2" id="addr_area">
								<{if isset($store_data.city_id)}>
								<{foreach from=$area_data[$store_data.city_id] item=v}>
								 <option value="<{$v.0}>" <{if isset($store_data.area_id)&&$store_data.area_id==$v.0}>selected<{/if}>><{$v.1}></option>
								<{/foreach}>
								<{else}><option value="">-请选择-</option>
								<{/if}>
								 </select>
								<input type="text" value="<{if isset($store_data.ous_address)}><{$store_data.ous_address}><{/if}>" name="class_address" id="class_address" style="margin-top:-8px;padding:2px 0;" class="input-txt"> <span class="err"></span></div>

							<p class="notic">系统将根据所选择的上级菜单层级决定新增项的所在级，即选择上级菜单为“北京”，则新增项为北京地区的下级区域，以此类推。</p>
						</dd>
					</dl>
					<dl class="row">
						<dt class="tit">
                    <label for="class_sort"><em>*</em>联系电话</label>
                </dt>
						<dd class="opt">
							<input id="class_mobile" name="class_mobile" type="text" class="input-txt" value="<{if isset($store_data.ous_tel)}><{$store_data.ous_tel}><{/if}>">
							<span class="err"></span>
							<p class="notic"></p>
						</dd>
					</dl>
					<dl class="row">
						<dt class="tit">
                    <label for="class_sort">授权品牌</label>
                </dt>
						<dd class="opt">
							<div class="area-region-select">
								<select class="valid selecte pd-5 mb-10 select2" multiple="multiple"  name="brands_auth[]">
									<{foreach from=$brands item=v}>
									<option value="<{$v.brand_id}>" <{if isset($auth_brands)&&in_array($v.brand_id,$auth_brands)}>selected<{/if}>><{$v.brand_name}></option>
									<{/foreach}>
								</select>
								<span class="err"></span></div>
						</dd>
					</dl>
					<dl class="row">
						<dt class="tit">
                    <label for="class_sort">地理位置</label>
                </dt>
						<dd class="opt">
							<input id="address_input" name="address_input" type="text" class="input-txt" value="" placeholder="输入标准地址如：成都市金牛区金泉路5号"><input class="btn radius btn-warning" name="sreachaddres" type="button" value="搜索">
							<span class="err"></span>
							<p class="notic">点击地图选取地址，地图支持鼠标拖拽，鼠标滚轮放大/缩小</p>
							<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=VjyztFQmLt7QVmbB7i760SHTar7DB6hD"></script>
                             <div id="allmap"></div>
                             <script type="text/javascript">
								// 百度地图API功能
								var map = new BMap.Map("allmap");
								var point = new BMap.Point('<{if isset($store_data.ous_longitude)}><{$store_data.ous_longitude}><{else}>104.020775<{/if}>','<{if isset($store_data.ous_latitude)}><{$store_data.ous_latitude}><{else}>30.721598<{/if}>');
								map.centerAndZoom(point,12);
							    map.enableScrollWheelZoom();   //启用滚轮放大缩小，默认禁用
	                            map.enableContinuousZoom();    //启用地图惯性拖拽，默认禁用
								// 创建地址解析器实例
								map.centerAndZoom(point, 16);
								map.addOverlay(new BMap.Marker(point));
								
								$("input[name='sreachaddres']").click(function(){
									     var addres=$("input[id='address_input']").val();
													// 将地址解析结果显示在地图上,并调整地图视野
									    var map = new BMap.Map("allmap");
									    var myGeo = new BMap.Geocoder();
										myGeo.getPoint(addres, function(point){
										if (point) {
											$("input[id='lngX']").attr("value",point.lng);
											$("input[id='latY']").attr("value",point.lat);
									        map.centerAndZoom(point, 16);
											map.addOverlay(new BMap.Marker(point));
										}else{
											layer.msg('没找到搜索的地点');
											var lny=$("input[id='lngX']").val();
											var lat=$("input[id='latY']").val();
											var point = new BMap.Point(lny,lat);
										    map.centerAndZoom(point, 16);
											map.addOverlay(new BMap.Marker(point));}
										}, "成都市");
									     
									  });
							</script>
							<input type="hidden" id="lngX" name="longitude" value="<{if isset($store_data.ous_longitude)}><{$store_data.ous_longitude}><{else}>104.020775<{/if}>">
							<input type="hidden" id="latY" name="latitude" value="<{if isset($store_data.ous_latitude)}><{$store_data.ous_latitude}><{else}>30.721598<{/if}>">
						</dd>
					</dl>
					<div class="bot">
						<a id="submit" href="javascript:void(0)" class="btn btn-success radius">确认提交</a>
					</div>
				</div>
			</form>
		</div>

		<div id="goTop">
			<a href="JavaScript:void(0);" id="btntop"><i class="fa fa-angle-up"></i></a>
			<a href="JavaScript:void(0);" id="btnbottom"><i class="fa fa-angle-down"></i></a>
		</div>
	</body>
<script type="text/javascript">

  $(document).ready(function(){
	  //多炫
	  /* window.searchSelAll = $('.search-box-sel-all').SumoSelect({ 
            csvDispCount: 3,
            selectAll:true,
            search: true,
            searchText:'请选择.',
            okCancelInMulti:true ,
            floatWidth: 50,
        }); */
       /* $(".select2").select2();
	  $("#default_goods_image").change(function () {
          $("#textfield").val($(this).val());
      });
      $("#default_goods_image2").change(function () {
          $("#textfield2").val($(this).val());
      });*/
	  $(".select2").select2();
	  /*地区列表加载*/
	  var area_data = <{$area_datajs}>;
	  $('#addr').change(function(){
		  $('#addr_area').html('<option value="">-请选择-</option>');
		  var str_city = '';province = $(this).val();
		  if(!province){
			  str_city = '<option value="">-请选择-</option>';
		  }else{
			  province = parseInt(province);
			  str_city = '<option value="">-请选择-</option>';
			  $.each(area_data[province],function(k,v){
				  str_city +='<option value="'+v[0]+'">'+v[1]+'</option>';
			  })
		  }
		  
		  $('#addr_city').html(str_city);
	  })
 	$('#addr_city').change(function(){
		  var str_area = '';city = $(this).val();
		  if(!city){
			  str_area = '<option value="">-请选择-</option>';
		  }else{
			  city = parseInt(city);
			  str_area = '<option value="">-请选择-</option>';
			  $.each(area_data[city],function(k,v){
				  str_area +='<option value="'+v[0]+'">'+v[1]+'</option>';
			  })
		  }
		  
		  $('#addr_area').html(str_area);
	  })
	var store_id = "<{if isset($store_data.store_id)}><{$store_data.store_id}><{/if}>";

  	
	  $('#submit').click(function(){
		  if($("#add_form").valid()){
			  $('#add_form').submit();
		  }
	  })
	  /*验证编码为数字或字母*/
	   	jQuery.validator.addMethod("numberAndLettersVal",function(value,element){  
	           return this.optional(element) || /^[a-zA-Z0-9]+$/.test(value);  
	          },$.validator.format("请输入字母或数字")  
	          ); 
	  /*验证为正确的电话号码*/
   	  jQuery.validator.addMethod("isMobile", function(value, element) { 
   		  var length = value.length; 
   		  var mobile = /^(((13[0-9]{1})|(15[0-9]{1}|(18[0-9]{1})|(17[0-9]{1})))+\d{8})$/; 
   		  return this.optional(element) || (length == 11 && mobile.test(value)); 
   		}, "请正确填写您的手机号码"); 
	  //验证表单
	  if(!parseInt(store_id)){
		  valid_rule = {
              company_name : {
                  required : true,
              },
			        class_name : {
			            required : true,
			            remote	: {
                            url :'check_storeName',
                            type:'post',
                            cache:false,
    	                    async:false,
                            data:{
                            	store_name : function(){
                                    return $('#class_name').val();
                                }
                            }
                        },
			            maxlength : 30
			          },
			          class_code : {
			            required : true,
			            numberAndLettersVal : true,
			            minlength : 4,
			            maxlength : 6,
			            remote : {
                            url :'check_storeCode',
                            type:'post',
                            cache:false,
    	                    async:false,
                            data:{
                            	store_code : function(){
                                    return $('#class_code').val();
                                }
                            }
                        },
			          },
			          class_province : {
			            required : true,
			          },
			          class_city : {
			            required : true,
			          },
			          class_area: {
			            required: true,
			          },
			          class_mobile: {
			            required: true,
			            isMobile:true,
			          },
			        };
		  valid_msg = {
              company_name : {
                  required : '<i class="icon-exclamation-sign">请输入公司名称</i>',
              },
		    	  class_name : {
		              required : '<i class="icon-exclamation-sign">请输入店铺名</i>',
		              remote   : '<i class="fa fa-exclamation-circle"></i>该名称已存在',
		              maxlength : '<i class="icon-exclamation-sign">最多输入30个字</i>',
		            },
		            class_code : {
		              required : '<i class="icon-exclamation-sign">编码必填</i>',
		              numberAndLettersVal   : '<i class="fa fa-exclamation-circle"></i>编码只能为数字或字母',
		              minlength : '<i class="icon-exclamation-sign">编码应不低于4位</i>',
		              maxlength : '<i class="icon-exclamation-sign">编码应不超过6位</i>',
		              remote   : '<i class="fa fa-exclamation-circle"></i>该编码已占用',
		            },
		            class_province : {
		              required : '<i class="icon-exclamation-sign">请选择省</i>',
		            },
		            class_city : {
		              required : '<i class="icon-exclamation-sign">请选择市</i>',
		            },
		            class_area: {
		              required : '<i class="icon-exclamation-sign">请选择区</i>',
		            },
		            class_mobile: {
		              required : '<i class="icon-exclamation-sign">请输入联系电话</i>',
		              isMobile : '<i class="icon-exclamation-sign">请输入正确的手机号码</i>',
		            },

		          };
	  }else{
		  valid_rule = {

              company_name : {
                  required : true,
              },
			        class_name : {
			            required : true,
			            remote	: {
                            url :'check_storeName',
                            type:'post',
                            cache:false,
    	                    async:false,
                            data:{
                            	store_name : function(){
                                    return $('#class_name').val();
                                },
                            	store_id : function(){
                                    return $('#store_id').val();
                                },
                            }
                        },
			            maxlength : 30
			          },
			          class_code : {
				            required : true,
				            numberAndLettersVal : true,
				            minlength : 4,
				            maxlength : 6,
				            remote : {
	                            url :'check_storeCode',
	                            type:'post',
	                            cache:false,
	    	                    async:false,
	                            data:{
	                            	store_code : function(){
	                                    return $('#class_code').val();
	                                },
	                                store_id : function(){
	                                    return $('#store_id').val();
	                                },
	                            }
	                        },
				          },
			          class_province : {
			            required : true,
			          },
			          class_city : {
			            required : true,
			          },
			          class_area: {
			            required: true,
			          },
			          class_mobile: {
			            required: true,
			            isMobile:true,
			          },
			        };
		  valid_msg = {
              company_name : {
                  required : '<i class="icon-exclamation-sign">请输入公司名称</i>',
              },
		      class_name : {
		              required : '<i class="icon-exclamation-sign">请输入店铺名</i>',
		              remote   : '<i class="fa fa-exclamation-circle"></i>该名称已存在',
		              maxlength : '<i class="icon-exclamation-sign">最多输入30个字</i>',
		            },
		            class_code : {
			              required : '<i class="icon-exclamation-sign">编码必填</i>',
			              numberAndLettersVal   : '<i class="fa fa-exclamation-circle"></i>编码只能为数字或字母',
			              minlength : '<i class="icon-exclamation-sign">编码应不低于4位</i>',
			              maxlength : '<i class="icon-exclamation-sign">编码应不超过6位</i>',
			              remote   : '<i class="fa fa-exclamation-circle"></i>该编码已占用',
			            },
		            class_province : {
		              required : '<i class="icon-exclamation-sign">请选择省</i>',
		            },
		            class_city : {
		              required : '<i class="icon-exclamation-sign">请选择市</i>',
		            },
		            class_area: {
		              required : '<i class="icon-exclamation-sign">请选择区</i>',
		            },
		            class_mobile: {
		              required : '<i class="icon-exclamation-sign">请输入联系电话</i>',
		              isMobile : '<i class="icon-exclamation-sign">请输入正确的手机号码</i>',
		            },
		          };
	  };
     $("#add_form").validate({
      errorPlacement: function(error, element){
        var error_td = element.parents('dl').find('span.err');
        error_td.append(error);
      },
      rules : valid_rule,
      messages : valid_msg
    });


      function getObjectURL(file) {		//建立一個可存取该file的url
          var url = null ;
          if (window.createObjectURL!=undefined) { // basic
              url = window.createObjectURL(file) ;
          } else if (window.URL!=undefined) { // mozilla(firefox)
              url = window.URL.createObjectURL(file) ;
          } else if (window.webkitURL!=undefined) { // webkit or chrome
              url = window.webkitURL.createObjectURL(file) ;
          }
          return url ;
      }


      function getObjectURL2(file) {		//建立一個可存取该file的url
          var url = null ;
          if (window.createObjectURL!=undefined) { // basic
              url = window.createObjectURL(file) ;
          } else if (window.URL!=undefined) { // mozilla(firefox)
              url = window.URL.createObjectURL(file) ;
          } else if (window.webkitURL!=undefined) { // webkit or chrome
              url = window.webkitURL.createObjectURL(file) ;
          }
          return url ;
      }

      //是否共享店铺
	  $('#store_share0').click(function () {
		  $('#num').hide();
	  });

	  $('#store_share1').click(function () {
          $('#num').show();
	  });
  });
  </script>
	</html>