
<{include file="pageheader.html"}>
<script type="text/javascript" src="<{PLUGIN}>plugins/UEditor/ueditor.config.js"></script>
<script type="text/javascript" src="<{PLUGIN}>plugins/UEditor/ueditor.all.min.js"></script>
<script type="text/javascript" src="<{PLUGIN}>plugins/UEditor/lang/zh-cn/zh-cn.js"></script>
<body style="background-color: #FFF; overflow: auto;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>

<div class="page">
    <div class="fixed-bar">
        <div class="item-title"><a class="back" href="<{base_url()}>admin.php/member/website_member_agreement" title="返回列表"><i class="fa fa-arrow-circle-o-left"></i></a>
            <div class="subject">
                <h3>会员协议 - 编辑文章</h3>
                <h5>网站会员协议设置管理</h5>
            </div>
        </div>
    </div>
    <form id="article_form" method="post" name="articleForm">
        <input type="hidden" name="form_submit" value="ok">
        <div class="ncap-form-default">
            <dl class="row">
                <dt class="tit">
                    <label><em>*</em>标题</label>
                </dt>
                <dd class="opt">
                    <input type="text" value="<{$document.doc_title}>" name="doc_title" id="doc_title" class="input-txt">
                    <span class="err"></span>
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label><em>*</em>文章内容</label>
                </dt>
                <dd class="opt">
                    <div class="" style="width: 70%;">
                        <!-- 加载编辑器的容器 -->
                        <textarea id="content" name="content" type="text/plain"><{$document.doc_content}></textarea>
                        <!-- 实例化编辑器 -->
                        <script type="text/javascript">
                            var appcontent = UE.getEditor('content');
                        </script>

                    </div>
                    <span class="err"></span>
                    <p class="notic"></p>
                </dd>
            </dl>
            <!--  
	            <dl class="row">
	                <dt class="tit">图片上传</dt>
	                <dd class="opt" id="divComUploadContainer">
	                    <div class="input-file-show"><span class="type-file-box">
	            <input class="type-file-file" id="fileupload" name="fileupload" type="file" size="30" multiple="" hidefocus="true" title="点击按钮选择文件上传">
	            <input type="text" name="text" id="text" class="type-file-text">
	            <input type="button" name="button" id="button" value="选择上传..." class="type-file-button">
	            </span></div>
	                    <div id="thumbnails" class="ncap-thumb-list">
	                        <h5><i class="fa fa-exclamation-circle"></i>上传后的图片可以插入到富文本编辑器中使用，无用附件请手动删除，如不处理系统会始终保存该附件图片。</h5>
	                        <ul>
	                        </ul>
	                    </div>
	                </dd>
	            </dl>
            -->
            <div class="bot"><a href="JavaScript:void(0);" class="ncap-btn-big ncap-btn-green" id="submitBtn">确认提交</a></div>
        </div>
    </form>
</div>
<script>

//按钮先执行验证再提交表
$(document).ready(function(){
    //按钮先执行验证再提交表单
    $("#submitBtn").click(function(){
        if($("#article_form").valid()){
        	var data = new FormData($('#article_form')[0]);
        	var id=<{$document.doc_id}>;
        	
   			$.ajax({
   				data:data,
   				type:'post',
   				dataType:'json',
   				url:"<{base_url()}>admin.php/member/website_member_agreement_edit?&number="+id,
   				cache: false,
                processData: false,
                contentType: false,
   				success:function(res){
   					if(res=="success"){
   						layer.alert('文章编辑成功');
   					}else if(res.state=="article_position_false"){
   						layer.alert(res.msg);
   					}else if(res.state=="file_type_false"){
   						layer.alert(res.msg);
   					}else if(res.state=="file_copy_false"){
   						layer.alert(res.msg);
   					}else if(res=="false"){
   						layer.alert('文章编辑失败');
   					}
   				}
   			});
        }
    });
    $("#article_form").validate({
        errorPlacement: function(error, element){
            var error_td = element.parents('dd').children('span.err');
            error_td.append(error);
        },
        rules : {
            doc_title : {required : true,},
            content : {required : true},
        },
        messages : {
            doc_title : {required : '<i class="fa fa-exclamation-circle"></i>标题名称不能为空',},
            content : {required : '<i class="fa fa-exclamation-circle"></i>文章内容不能为空',},
        }
    });
});

</script> 
<div id="goTop"> <a href="JavaScript:void(0);" id="btntop"><i class="fa fa-angle-up"></i></a><a href="JavaScript:void(0);" id="btnbottom"><i class="fa fa-angle-down"></i></a></div>
</body>
</html>