<!DOCTYPE HTML>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="renderer" content="webkit|ie-comp|ie-stand">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<link rel="stylesheet" type="text/css" href="<{PLUGIN}>plugins/H-ui/static/h-ui/css/H-ui.min.css" />
		<link rel="stylesheet" type="text/css" href="<{PLUGIN}>plugins/H-ui/static/h-ui.admin/css/H-ui.admin.css" />
		<link rel="stylesheet" type="text/css" href="<{PLUGIN}>plugins/H-ui/lib/Hui-iconfont/1.0.7/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="<{PLUGIN}>plugins/H-ui/static/h-ui.admin/skin/default/skin.css" id="skin" />
		<link rel="stylesheet" type="text/css" href="<{PLUGIN}>plugins/H-ui/static/h-ui.admin/css/style.css" />
		<link rel="stylesheet" href="<{TEMPLE}>css/iconfont.css" />
		<title>自定义标签</title>
		<style type="text/css">
			*{
				margin: 0;
				padding: 0;
			}
			.recharge-content {
				border: 1px solid #ccc;
				padding: 15px;
			}
			
			.cl-b {
				color: #009dd9;
			}
			
			.cl-g {
				color: #44b549
			}
			
			.cl-o {
				color: #f90;
			}
			
			.first {
				display: block;
				width: 10px;
				cursor: pointer;
			}
			/*展开动画*/
			
			@keyframes out {
				from {
					transform: rotate(0deg);
					-ms-transform: rotate(0deg);
					-webkit-transform: rotate(0deg);
				}
				to {
					transform: rotate(90deg);
					-ms-transform: rotate(90deg);
					-webkit-transform: rotate(90deg);
				}
			}
			
			@-webkit-keyframes out {
				from {
					transform: rotate(0deg);
					-ms-transform: rotate(0deg);
					-webkit-transform: rotate(0deg);
				}
				to {
					transform: rotate(90deg);
					-ms-transform: rotate(90deg);
					-webkit-transform: rotate(90deg);
				}
			}
			
			.out {
				animation: out 0.5s;
				-webkit-animation: out 0.5s;
				/* Safari 与 Chrome */
				animation-iteration-count: infinite;
			}
			/*收起动画*/
			
			@keyframes in {
				from {
					transform: rotate(90deg);
					-ms-transform: rotate(90deg);
					-webkit-transform: rotate(90deg);
				}
				to {
					transform: rotate(0deg);
					-ms-transform: rotate(0deg);
					-webkit-transform: rotate(0deg);
				}
			}
			
			@-webkit-keyframes in {
				from {
					transform: rotate(90deg);
					-ms-transform: rotate(90deg);
					-webkit-transform: rotate(90deg);
				}
				to {
					transform: rotate(0deg);
					-ms-transform: rotate(0deg);
					-webkit-transform: rotate(0deg);
				}
			}
			
			.in {
				animation: in 0.5s;
				-webkit-animation: in 0.5s;
				/* Safari 与 Chrome */
				animation-iteration-count: infinite;
			}
			/*洽客样式*/
			
			.c1 {
				width: 34%;
				display: inline-block;
				padding: 8px;
			}
			
			.c2 {
				width: 17%;
				display: inline-block;
				padding: 8px;
			}
			
			.c3 {
				width: 12%;
				display: inline-block;
				padding: 8px;
			}
			
			.c4 {
				width: 12%;
				display: inline-block;
				padding: 8px;
			}
			
			.c5 {
				width: 13%;
				display: inline-block;
				padding: 8px;
			}
			
			.head {
				border-bottom: 1px solid #e5e5e5;
			}
			
			.second .c1 i {
				margin-left: 20px;
			}
			
			.third .c1 i {
				margin-left: 50px;
			}
			
			.zhuan {
				width: 15px;
				height: 15px;
				border-left: 2px solid #ccc;
				border-bottom: 2px solid #ccc;
				margin-top: 3px;
			}
			
			.first-add,
			.second-add,
			.third-add {
				position: relative;
			}
			
			.first-add:before {
				font-family: Hui-iconfont;
				content: "\e600";
				position: absolute;
				top: 12px;
				left: 50px;
				font-size: 14px;
			}
			
			.second-add:before {
				font-family: Hui-iconfont;
				content: "\e600";
				position: absolute;
				top: 12px;
				left: 98px;
				font-size: 14px;
			}
			
			.third-add:before {
				font-family: Hui-iconfont;
				content: "\e600";
				position: absolute;
				top: 12px;
				left: 128px;
				font-size: 14px;
			}
			
			.input-text {
				padding-left: 10px;
			}
			
			.first-menu>li {
				border-bottom: 1px solid #e5e5e5;
			}
			
			.third,
			.second {
				display: none;
			}
			.btn-danger{
				margin-left: 10px;
				display: none;
			}
			.c2 span{
				margin-left: 7px;
			}
			a:hover{
				color: #333;
			}
		</style>
	</head>

	<body>
		<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 店铺管理 <span class="c-gray en">&gt;</span> 自定义标签管理
			<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>
		</nav>
		<div class="page-container">
			<div id="tab_demo" class="HuiTab">
				<div class="tabBar clearfix"><a href=""><span>标签管理</span></a><a href="freetag_manage"><span>标签商品</span></a></div>
				<div class="recharge-content">
					<div class="tabCon">
						<a href="javascript:;" class="btn btn-default allout">全部展开</a>
						<a href="javascript:;" class="btn btn-default allin">全部收起</a>
						<div class="tag-table">
							<div class="head">
								<div class="c1">标签名称</div>
								<div class="c2">移动</div>
								<div class="c3">创建时间</div>
								<div class="c4">标签商品数</div>
								<div class="c5">操作</div>
							</div>
							<ul class="first-menu">

								<{foreach $tags as $k=>$v}>
								<li name="<{$v.catetag_id}>">
									<div class="c1">
										<i class="iconfont first l mt-5">&#xe656;</i>
										<input type="text" class="input-text radius ml-20" value="<{$v.catetag_name}>" placeholder="" id="<{$v.catetag_id}>" name="" style="width: 160px;"><a class="btn btn-danger radius" id="save<{$v.catetag_id}>" onclick="save(<{$v.catetag_id}>)">保存</a>
									</div>
									<div class="c2">
										<span class="iconfont t1">&#xe60d;</span>
										<span class="iconfont t2">&#xe60e;</span>
										<span class="iconfont t3">&#xe60c;</span>
										<span class="iconfont t4">&#xe60a;</span>
									</div>
									<div class="c3"><{$v.add_time}></div>
									<div class="c4">77</div>
									<div class="c5">
										<a href="javascript:void(0)" onclick="delete_catetag(<{$v.catetag_id}>)">删除</a><a href="" class="ml-10">查看商品</a>
									</div>
									<ul class="second">
										<{foreach $v.level2 as $kk=>$vv}>
											<li name="<{$vv.catetag_id}>">
												<div class="c1">
													<i class="iconfont first l mt-5">&#xe656;</i>
													<div class="l zhuan ml-20"></div>
													<input type="text" class="input-text radius ml-10" value="<{$vv.catetag_name}>" placeholder="" id="<{$vv.catetag_id}>" name="" style="width: 160px;"><a class="btn btn-danger radius" id="save<{<{$vv.catetag_id}>}>" onclick="save(<{$vv.catetag_id}>)">保存</a>
												</div>
												<div class="c2">
													<span class="iconfont t2">&#xe60e;</span>
													<span class="iconfont t3">&#xe60c;</span>
												</div>
												<div class="c3"><{$vv.add_time}></div>
												<div class="c4">77</div>
												<div class="c5">
													<a href="javascript:void(0)" onclick="delete_catetag(<{$vv.catetag_id}>)">删除</a><a href="" class="ml-10">查看商品</a>
												</div>
												<ul class="third">
													<{foreach $vv.level3 as $kkk=>$vvv}>
														<li name="<{$vvv.catetag_id}>">
															<div class="c1">
																<div class="l zhuan" style="margin-left: 80px;"></div>
																<input type="text" class="input-text radius ml-10" value="<{$vvv.catetag_name}>" placeholder="" id="<{$vvv.catetag_id}>" name="" style="width: 160px;"><a class="btn btn-danger radius" id="save<{$vvv.catetag_id}>" onclick="save(<{$vvv.catetag_id}>)">保存</a>
															</div>
															<div class="c2">
																<span class="iconfont t2">&#xe60e;</span>
																<span class="iconfont t3">&#xe60c;</span>
															</div>
															<div class="c3"><{$vvv.add_time}></div>
															<div class="c4">77</div>
															<div class="c5">
																<a href="javascript:void(0)" onclick="delete_catetag(<{$vvv.catetag_id}>)">删除</a><a href="" class="ml-10">查看商品</a>
															</div>
														</li>
													<{/foreach}>
													<li class="add">
														<div class="c1 third-add">
															<div class="l zhuan" style="margin-left: 80px;"></div>
															<input type="text" class="input-text radius ml-10" value="添加三级标签" placeholder="add-second" id="" name="" style="width: 160px;padding-left: 30px;" readonly>
														</div>
													</li>
												</ul>
											</li>
										<{/foreach}>
										<li class="add">
											<div class="c1 second-add">
												<div class="l zhuan ml-50"></div>
												<input type="text" class="input-text radius ml-10" value="添加二级标签" placeholder="add-second" id="" name="" style="width: 160px;padding-left: 30px;" readonly>
											</div>
										</li>
									</ul>
								</li>
								<{/foreach}>

								<li class="add">
									<div class="c1 first-add">
										<input type="text" class="input-text radius ml-30" value="添加顶层标签" placeholder="add-second" id="" name="" style="width: 160px;padding-left: 30px;" readonly>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="tabCon">数据加载中...</div>
				</div>
			</div>
		</div>
		<{include file="lib/footer.html" }>

			<!--请在下方写此页面业务相关的脚本-->
			<script type="text/javascript" src="<{PLUGIN}>plugins/H-ui/lib/My97DatePicker/4.8/WdatePicker.js"></script>
			<script type="text/javascript" src="<{PLUGIN}>plugins/H-ui/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
			<script type="text/javascript" src="<{PLUGIN}>plugins/H-ui/lib/laypage/1.2/laypage.js"></script>
			<script type="text/javascript">
				//点击修改菜单
				function save(id){
					var catetag_name = $('#'+id).val();
                    var parent_id = 0;
                    if($('#'+id).parent().parent().parent().parent().attr('name') > 0){
                        parent_id = $('#'+id).parent().parent().parent().parent().attr('name');
					}
					if(catetag_name == ''){
					    layer.msg('菜单名称不能为空！');
					    return false;
					}
					$.ajax({
						type:'post',
						url:'change_catetag_name',
						data:'id='+id+'&catetag_name='+catetag_name+'&parent_id='+parent_id,
						dataType:'html',
						success:function(res){
							if(res.code == 1){
							    layer.msg('更新成功！');
                                //隐藏保存按钮
                                $('#save'+id).hide();
							}else if(res.code == 2){
                                $('#'+id).val(res.old_cateage_name);
                                $('#save'+id).hide();
							    layer.msg('该分类下已有此名称！');
							}else{
                                $('#'+id).val(res.old_cateage_name);
                                $('#save'+id).hide();
							    layer.msg('更新失败,请重试！');
							}
						}
                    })
				}

				//点击添加菜单
                function add_catetag(){
                    var $newObj = $('#addLevel');
                    var $newSave = $('#newsave');
                    var $newTime = $('#newtime');
                    var catetag_name = $newObj.val();
                    var parent_id = 0;
                    //获取parent_id
                    if($newObj.parents('[name]:first').attr('name') > 0){
//                        alert($newObj.parents('[name]:first').attr('name'));
                        parent_id = $newObj.parents('[name]:first').attr('name');
                    }
                    $.ajax({
                        type:'post',
                        url:'add_catetag_name',
                        data:'catetag_name='+catetag_name+'&parent_id='+parent_id,
                        dataType:'json',
                        success:function(res){
                            if(res.catetag_id > 0){
                                //去掉/添加相应的样式
                                $newObj.parent().parent().removeClass('newli');
                                $newObj.attr('id',res.catetag_id);
                                $newObj.parent().parent().attr('name',res.catetag_id);
                                $newObj.parent().parent().children('.c5').children(':first').attr('onclick','delete_catetag('+res.catetag_id+')');
                                $newSave.attr('id','save'+res.catetag_id);
                                $newSave.attr('onclick','save('+res.catetag_id+')');
                                $newSave.attr('name','');
                                $newTime.html(res.add_time);
                                $newTime.attr('id','');
                                //保存后隐藏保存按钮
                                $('#save'+res.catetag_id).hide();
                                //排序/查看商品按钮显示
                                $newObj.parent().parent().children('.c2').attr('style','');
                                $newObj.parent().parent().children('.c5').find('a:last').attr('style','');
                                layer.msg('添加成功！');
							}else{
                                layer.msg('此分类下已有此菜单,请添加其他菜单！');
							}
                        }
                    })
                }

				//点击删除此菜单
				function delete_catetag(id){
                    if(confirm('是否要删除此菜单？')) {
						$.ajax({
							 type:'post',
							 url:'delete_catetag_name',
							 data:'catetag_id='+id,
							 dataType:'html',
							 success:function(res){
							     if(res == 2){
							         layer.msg('该分类下有子菜单,请先删除子菜单！');
								 }else if(res == 1){
							         layer.msg('删除成功！');
									 $('#'+id).parent().parent().remove();
								 }else{
                                     layer.msg('删除失败,请重试！');
								}
						 	}
						 })
					}
				}

				//点击删除空白的菜单
				function delete_blank($this){
				    $('.newli').remove();
				}
                //				上下移动位置
                $("body").on("click",".t2",function(){
                    var $now = $(this);
                    //获取点击的id号
                    var current_id = $(this).parents('[name]:first').find('input').attr('id');
                    //获取当前点击对象的上一个对象id号
                    var change_id = $(this).parents('[name]:first').prev().find('input').attr('id');
                    // 没有值说明已经在第一个,无需更改
                    if(!(change_id > 0)){
                        layer.msg('已经到最前了！');
                        return false;
                    }
                    $.ajax({
                        type:'post',
                        url:'change_menu_order',
                        data:'current_id='+current_id+'&change_id='+change_id,
                        dataType:'html',
                        success:function(res){
                            if(res == 1){
                                layer.msg('更改成功！');
                                var $befor = $now.parent().parent().prev();
                                $befor.insertAfter($now.parent().parent());
                            }else{
                                layer.msg('更改失败！');
                            }
                        }
                    })
                })
                $("body").on("click",".t3",function(){
                    var $now = $(this);
                    //获取点击的id号
                    var current_id = $(this).parents('[name]:first').find('input').attr('id');
                    //获取当前点击对象的下一个对象id号
                    var change_id = $(this).parents('[name]:first').next().find('input').attr('id');
                    // 没有值说明已经在最后一个,无需更改
                    if(!(change_id > 0)){
                        layer.msg('已经到最后了！');
                        return false;
                    }
                    $.ajax({
                        type:'post',
                        url:'change_menu_order',
                        data:'current_id='+current_id+'&change_id='+change_id,
                        dataType:'html',
                        success:function(res){
                            if(res == 1){
                                layer.msg('更改成功！');
                                var $after = $now.parent().parent().next();
                                if(!$after.hasClass("add")){
                                    $now.parent().parent().insertAfter($after);
                                }
                            }else{
                                layer.msg('更改失败！');
                            }
                        }
                    })
                })
                $("body").on("click",".t1",function(){
                    var $now = $(this);
                    //获取点击的id号
                    var current_id = $(this).parents('[name]:first').find('input').attr('id');
                    //获取当前点击对象的第一个对象id号
                    var change_id = $(this).parents('[name]:first').parent().children().first().find('input').attr('id');
                    if(current_id == change_id){
                        layer.msg('已经到最前了！');
                        return false;
                    }
                    $.ajax({
                        type:'post',
                        url:'change_menu_order',
                        data:'current_id='+current_id+'&change_id='+change_id,
                        dataType:'html',
                        success:function(res){
                            if(res == 1){
                                layer.msg('更改成功！');
                                var $first = $now.parent().parent().parent().children("li:first-child");
                                $now.parent().parent().insertBefore($first);
                            }else{
                                layer.msg('更改失败！');
                            }
                        }
                    })
                })
                $("body").on("click",".t4",function(){
                    var $now = $(this);
                    //获取点击的id号
                    var current_id = $(this).parents('[name]:first').find('input').attr('id');
                    //获取当前点击对象的最后一个id号
                    var change_id = $(this).parents('[name]:first').parent().children('[name]:last').find('input').attr('id');
                    if(current_id == change_id){
                        layer.msg('已经到最后了！');
                        return false;
                    }
                    $.ajax({
                        type:'post',
                        url:'change_menu_order',
                        data:'current_id='+current_id+'&change_id='+change_id,
                        dataType:'html',
                        success:function(res){
                            if(res == 1){
                                layer.msg('更改成功！');
                                var $last = $now.parent().parent().parent().children("li:last-child").prev();
                                $now.parent().parent().insertAfter($last);
                            }else{
                                layer.msg('更改失败！');
                            }
                        }
                    })
                })


				//	实现tab切换的源码
				jQuery.Huitab = function(tabBar, tabCon, class_name, tabEvent, i) {
					var $tab_menu = $(tabBar);
					// 初始化操作
					$tab_menu.removeClass(class_name);
					$(tabBar).eq(i).addClass(class_name);
					$(tabCon).hide();
					$(tabCon).eq(i).show();

					$tab_menu.bind(tabEvent, function() {
						$tab_menu.removeClass(class_name);
						$(this).addClass(class_name);
						var index = $tab_menu.index(this);
						$(tabCon).hide();
						$(tabCon).eq(index).show()
					})
				}
				$.Huitab("#tab_demo .tabBar span", "#tab_demo .tabCon", "current", "click", "0");

				//	封装点击展开收起动画方法
				function iconchange(obj) {
					$("body").on("click", obj, function() {
						var $this = $(this);
						if($this.css("transform") == "matrix(6.12323e-17, 1, -1, 6.12323e-17, 0, 0)") {
							$(this).addClass("in");
							setTimeout(function() {
								$this.removeClass("in");
								$this.css("-webkit-transform", "rotate(0deg)")
							}, 450)

						} else {
							$this.addClass("out");
							setTimeout(function() {
								$this.removeClass("out");
								$this.css("-webkit-transform", "rotate(90deg)")
							}, 450)
						}
						console.log($this.css("transform"))
					})
				}

				iconchange(".first");

				//	展开收起js方法
				$("body").on("click", ".first-menu li .c1 i", function() {
					$(this).parent().parent().find(".second").slideToggle();
				})
				$("body").on("click", ".second li .c1 i", function() {
					$(this).parent().parent().find(".third").slideToggle();
				})

				//	添加顶层标签
				$("body").on("click", ".first-add", function() {
                    $('.newli').remove();
					$(this).parent().before('<li class="newli">' +
						'<div class="c1">' +
						'<i class="iconfont first l mt-5">&#xe656;</i>' +
						'<input type="text" class="input-text radius ml-20" value="" placeholder="" id="addLevel" name="" style="width: 160px;">' +
						'<a class="btn btn-danger radius" id="newsave" onclick="add_catetag()">保存</a>'+
						'</div>' +
						'<div class="c2 ml-5"" style="visibility:hidden">\n' +
						'<span class="iconfont t1">&#xe60d;</span>\n' +
						'<span class="iconfont t2">&#xe60e;</span>\n' +
						'<span class="iconfont t3">&#xe60c;</span>\n' +
						'<span class="iconfont t4">&#xe60a;</span>\n' +
						'</div>' +
						'<div class="c3 ml-5" id="newtime"></div>' +
						'<div class="c4 ml-5">77</div>' +
						'<div class="c5"><a href="javascript:void(0)" onclick="delete_blank(this)">删除</a><a href="" class="ml-10" style="visibility:hidden">查看商品</a></div>' +
						'<ul class="second">' +
						'<li class="add">' +
						'<div class="c1 second-add">' +
						'<div class="l zhuan ml-50"></div>' +
						'<input type="text" class="input-text radius ml-10" readonly value="添加二级标签" placeholder="add-second" id="" name="" style="width: 160px;padding-left: 30px;">' +
						'</div>' +
						'</li>' +
						'</ul>' +
						'</li>')
				})

				//	添加二级标签
				$("body").on("click", ".second-add", function() {
                    $('.newli').remove();
					$(this).parent().before(
						'<li class="newli">' +
						'<div class="c1">' +
						'<i class="iconfont first l mt-5">&#xe656;</i>' +
						'<div class="l zhuan ml-20"></div>' +
						'<input type="text" class="input-text radius ml-10" value="" placeholder="" id="addLevel" name="" style="width: 160px;">' +
						'<a class="btn btn-danger radius" id="newsave" onclick="add_catetag()">保存</a>'+
						'</div>' +
						'<div class="c2 ml-5"" style="visibility:hidden">\n' +
						'<span class="iconfont t2">&#xe60e;</span>\n' +
						'<span class="iconfont t3">&#xe60c;</span>\n' +
						'</div>' +
						'<div class="c3 ml-5" id="newtime"></div>' +
						'<div class="c4 ml-5">77</div>' +
						'<div class="c5"><a href="javascript:void(0)" onclick="delete_blank(this)">删除</a><a href="" class="ml-10" style="visibility:hidden">查看商品</a></div>' +
						'<ul class="third">' +
						'<li class="add">' +
						'<div class="c1 third-add">' +
						'<div class="l zhuan" style="margin-left: 80px;"></div>' +
						'<input type="text" class="input-text radius ml-10" readonly value="添加三级标签" placeholder="add-second" id="" name="" style="width: 160px;padding-left: 30px;">' +
						'</div>' +
						'</li>' +
						'</ul>' +
						'</li>'
					)
				})

				//	添加三级标签
				$("body").on("click", ".third-add", function() {
                    $('.newli').remove();
					$(this).parent().before(
						'<li class="newli">' +
						'<div class="c1">' +
						'<div class="l zhuan" style="margin-left: 80px;"></div>' +
						'<input type="text" class="input-text radius ml-10" value="" placeholder="" id="addLevel" name="" style="width: 160px;">' +
						'<a class="btn btn-danger radius" id="newsave" onclick="add_catetag()">保存</a>'+
						'</div>' +
						'<div class="c2 ml-5" style="visibility:hidden">\n' +
						'<span class="iconfont t2">&#xe60e;</span>\n' +
						'<span class="iconfont t3">&#xe60c;</span>\n' +
						'</div>' +
						'<div class="c3 ml-5" id="newtime"></div>' +
						'<div class="c4 ml-5">77</div>' +
						'<div class="c5"><a href="javascript:void(0)" onclick="delete_blank(this)">删除</a><a href="" class="ml-10" style="visibility:hidden">查看商品</a></div>' +
						'</li>'
					)
				})
				
//				改变分类名称显示保存按钮
				$("body").on('input propertychange','.c1', function() {
				    $(this).children(".btn-danger").show();
				});
				

				
				$(".allout").click(function(){
					$(".first-menu li .second").show();
					$(".first-menu li .second li .third").show();
				})
				
				$(".allin").click(function(){
					$(".first-menu li .second").hide();
					$(".first-menu li .second li .third").hide();
				})
				
				
			</script>
	</body>

</html>