<{include file="pageheader.html"}>

<title>商品管理</title>
<style>
    .flexigrid .bDiv td div, .colCopy div{height:auto}
    .flexigrid .hDiv th, .flexigrid .bDiv td{vertical-align: middle !important;}
    .new_goods{color:white;background-color: red;}
    a:hover{
    	color: #333;
    }
</style>
<body style="background-color: #FFF; overflow: auto;">
<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i> 店铺管理 <span class="c-gray en">&gt;</span>商品管理 <span class="c-gray en">&gt;</span>回收站
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" >
        <i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="page-container">
	<div id="tab_demo" class="HuiTab">
		<div class="tabBar clearfix">
			<a href="goods_management"><span>总库商品</span></a>
			<a href="goods_management?op=shop_goods"><span>自建商品</span></a>
			<a href="javascript:;"><span>回收站</span></a>
		</div>
	</div>
    <div class="mt-10 mb-10">
        <form method="post" name="formSearch" id="formSearch">
            <div class="search mt-20 mb-10">
                <select name="year_to_market" placeholder="请选择" class=" mr-5 m_w_120 pd-5 mb-10" style="min-width: 80px">
                    <option value="" selected>-上市年份-</option>
                    <{section name=total loop=10}>
                    <option value="<{date('Y')+5-$smarty.section.total.iteration}>">
                        <{date("Y")+5-$smarty.section.total.iteration}>
                    </option>
                    <{/section}>
                </select>
                <select name="season_to_market" placeholder="请选择" class=" mr-5 m_w_120 pd-5 mb-10" style="min-width: 80px">
                    <option value="" selected>-上市季节-</option>
                    <option value="1">春季</option>
                    <option value="2">夏季</option>
                    <option value="3">秋季</option>
                    <option value="4">冬季</option>
                </select>
                <select name="sex" placeholder="请选择" class=" mr-5 m_w_120 pd-5 mb-10" style="min-width: 100px">
                    <option value="" selected>-商品性别-</option>
                    <option value="2">男</option>
                    <option value="1">女</option>
                    <option value="3">通用</option>
                </select>
                <select name="available_coupons" placeholder="请选择" class=" mr-5 m_w_120 pd-5 mb-10" style="min-width: 80px">
                    <option value="" selected>-优惠券-</option>
                    <option value="1">支持</option>
                    <option value="0">不支持</option>
                </select>

                <select name="brand_id" placeholder="请选择" class=" mr-5 m_w_120 pd-5 mb-10">
                    <option value="">-全部品牌-</option>
                    <{if !empty($brands)}>
                    <{foreach from=$brands item=v}>
                    <option value="<{$v.brand_id}>"><{$v.brand_name}></option>
                    <{/foreach}>
                    <{/if}>
                </select>
                <select name="gc_id" placeholder="请选择" class=" mr-5 m_w_120 pd-5 mb-10 select2" onchange="get_brands_list(this)" style="min-width: 160px">
                    <option value="">-全部分类-</option>
                    <!--<{$cate_option}>-->
                </select>
                <select name="goods_tag" placeholder="请选择" class=" mr-5 m_w_120 pd-5 mb-10" style="min-width: 60px">
                    <option value="" selected>-标签-</option>
                    <option value="1">新品</option>
                    <option value="2">推荐</option>
                    <option value="3">特价</option>
                </select>
                <select name="goods_image" class="selecte  pd-5 mb-10 " style="min-width: 80px">
                    <option value="" selected>-是否有图-</option>
                    <option value="1">有图</option>
                    <option value="2">无图</option>
                </select>

                <input type="text" name="goods_name" placeholder="名称" class="input-text input_text mb-10">

                <input type="text" name="goods_spu" placeholder="款号" class="input-text input_text mb-10">

                <input name="stocks_sku" type="text" placeholder="货号"  class="input-text input_text mb-10">

                <input name="stocks_bar_code" type="text" placeholder="条码"  class="input-text input_text mb-10">

                <input type="submit" onclick="return false;" class="btn btn-warning radius ml-10 mb-10" id="searchBtn" name="searchBtn" value="搜索">

            </div>
        </form>
    </div>
    <table class="table table-border table-bordered table-hover table-bg table-content">
        <thead>
        <tr>
            <th scope="col" colspan="13">商品列表</th>
        </tr>
        <tr class="text-c">
            <th width=""><input type="checkbox" value="" name="" onclick="content_checkAll(this)"></th>
            <th width="">商品信息</th>
            <th width="">销量</th>
            <th width="">品牌</th>
            <th width="">添加时间</th>
            <th width="">操作</th>
        </tr>
        <tr><th  colspan="11">
            <span class="btn btn-danger radius" onclick="fg_operate('completely_delete')"><i class="fa fa-trash"></i>批量删除</span>
            <span class="btn btn-primary radius" onclick="fg_operate('restore')"><i class="fa fa-cloud-upload"></i>批量还原</span>
        </th></tr>
        </thead>
        <tbody>
        <tr>
            <td colspan="13"><li class="goods_list mb-20 no-data"><i class="fa fa-exclamation-circle"></i>数据加载中...</li></td>
        </tr>
        </tbody>
    </table>
</div>
<script type="text/javascript">
	
	//	实现tab切换的源码
	jQuery.Huitab =function(tabBar,tabCon,class_name,tabEvent,i){
	var $tab_menu=$(tabBar);
	  // 初始化操作
	  $tab_menu.removeClass(class_name);
	  $(tabBar).eq(i).addClass(class_name);
	  $(tabCon).hide();
	  $(tabCon).eq(i).show();
  
  	$tab_menu.bind(tabEvent,function(){
  	  $tab_menu.removeClass(class_name);
      $(this).addClass(class_name);
      var index=$tab_menu.index(this);
      $(tabCon).hide();
      $(tabCon).eq(index).show()})}
    $.Huitab("#tab_demo .tabBar span","#tab_demo .tabCon","current","click","2");
	
    function get_check()
    {
        $("input[name='check']:checkbox").each(function(i) {
            if($(this).attr("checked")){
                $(this).parent().parent().addClass('trSelected');
            } else {
                $(this).parent().parent().removeClass('trSelected');
            }
        });
    }

    $(function(){
        var url = '<{$url}>';
        $(".select2").select2();
        $('#searchBtn').click(function(){
            load_page_to(url);
        });
        load_page(url);

    });
    function fg_edit(goods_id){
        window.location.href = "goods_edit_goods_second?op=edit&goods_id="+goods_id;
    }
    //下架
    function fg_unshelve(goods_id){
        layer.confirm('您确定要将此商品下架吗？', {
            btn: ['确定','取消'] //按钮
        }, function(){
            $.ajax({
                type: "GET",
                dataType: "json",
                url: "goods_unshelve?goods_id="+goods_id,
                data: '',
                success: function(data){
                    if(data.state == '403'){
                        layer.msg(data.msg);
                        window.top.location.href = "<{base_url('pay.php/Index/')}>login_out";
                    }else if(data.state == '401'){
                        layer.msg(data.msg);
                        return false;
                    }else if(data.state == false){
                        layer.msg(data.msg);
                        return false;
                    }else if(data.state == true){
                        layer.msg(data.msg);
                    }
                    $.get('goods_management?op=shop_goods&type=putaway',$('#formSearch').serialize(),function () {load_page('<{$url}>');});
                }
            });
        })
    }
    //上架
    function fg_putaway(goods_id){
        layer.confirm('您确定要将此商品上架吗？', {
            btn: ['确定','取消'] //按钮
        }, function(){
            $.ajax({
                type: "GET",
                dataType: "json",
                url: "goods_putaway?goods_id="+goods_id,
                data: '',
                success: function(data){
                    if(data.state == '403'){
                        layer.msg(data.msg);
                        window.top.location.href = "<{base_url('pay.php/Index/')}>login_out";
                    }else if(data.state == '401'){
                        layer.msg(data.msg);
                    }else if(data.state==false){
                        layer.msg(data.msg);
                    }else if(data.state==true){
                        layer.msg(data.msg);
                    }
                    $.get('goods_management?op=shop_goods&type=putaway',function () {load_page('<{$url}>');});
                }
            });
        })
    }

    function fg_operate(name, grid) {
        get_check();
        if (name == 'completely_delete') {  //彻底删除
            if($('.trSelected',grid).length>0){
                var itemlist = new Array();
                $('.trSelected',grid).each(function(){
                    itemlist.push($(this).attr('data-id'));
                });
                fg_completely_delete(itemlist);
            }else{
                layer.msg('请至少选择一项！');
            }
        }else if (name == 'restore') {   //还原
            if($('.trSelected',grid).length>0){
                var itemlist = new Array();
                $('.trSelected',grid).each(function(){
                    itemlist.push($(this).attr('data-id'));
                });
                fg_restore(itemlist);
            }else{
                layer.msg('请至少选择一项！');
            }
        }
    }
    //彻底删除
    function fg_completely_delete(id){
        if (typeof id == 'number') {
            var id = new Array(id.toString());
        };
        layer.confirm('确认要将这 ' + id.length + ' 项从回收站彻底删除吗？', {
            btn: ['确认','取消'] //按钮
        }, function(){
            id = id.join(',');
            $.ajax({
                type: "GET",
                dataType: "json",
                url: "goods_completely_delete",
                data: "id="+id,
                success: function(data){
                    if(data.state == '403'){
                        layer.msg(data.msg);
                        window.top.location.href = "<{base_url('pay.php/Index/')}>login_out";
                    }else if(data.state == '401'){
                        layer.msg(data.msg);
                    }else if(data.state==false){
                        layer.msg(data.msg);
                    }else if(data.state==true){
                        layer.msg(data.msg);
                    }
                    $.get('goods_management?op=shop_goods&type=putaway',$('#formSearch').serialize(),function () {load_page('<{$url}>');});
                }
            });
        });
    }
    //还原
    function fg_restore(id){
        if (typeof id == 'number') {
            var id = new Array(id.toString());
        };
        layer.confirm('确认要将这 ' + id.length + ' 项还原吗？', {
            btn: ['确认','取消'] //按钮
        }, function(){
            id = id.join(',');
            $.ajax({
                type: "GET",
                dataType: "json",
                url: "goods_restore",
                data: "id="+id,
                success: function(data){
                    if(data.state == '403'){
                        layer.msg(data.msg);
                        window.top.location.href = "<{base_url('pay.php/Index/')}>login_out";
                    }else if(data.state == '401'){
                        layer.msg(data.msg);
                    }else if(data.state==false){
                        layer.msg(data.msg);
                    }else if(data.state==true){
                        layer.msg(data.msg);
                    }
                    $.get('goods_management?op=shop_goods&type=putaway',$('#formSearch').serialize(),function () {load_page('<{$url}>');});
                }
            });
        });
    }


</script>
<div id="goTop"> <a href="JavaScript:void(0);" id="btntop"><i class="fa fa-angle-up"></i></a><a href="JavaScript:void(0);" id="btnbottom"><i class="fa fa-angle-down"></i></a></div>
</body>
</html>