<{include file="pageheader.html"}>
<style>
.btn{border:none}
a:hover{
	color: #333;
}
</style>
<body style="background-color: #FFF; overflow: auto;">
	<nav class="breadcrumb">
            <i class="Hui-iconfont">&#xe67f;</i> 店铺管理 <span class="c-gray en">&gt;</span>运费管理
            <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" >
                <i class="Hui-iconfont">&#xe68f;</i></a>
        </nav>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>

<div class="page" style="padding: 20px;">
    <div class="fixed-bar">
       

    </div>
    <div class="page-container" style="padding: 0;">
    	<div id="tab_demo" class="HuiTab">
			<div class="tabBar clearfix">
				<a href="mall_express_tools"><span>运费管理</span></a>
				<a href="mall_express"><span>物流公司</span></a>
				<a href="mall_waybill"><span>运单模板</span></a>
			</div>
		</div>
            <table class="table mt-20">
                <tbody>
                    <tr>
                        <{foreach from=$express item=v name=f}>
                                <td><input type="checkbox" name="express_code" value="<{$v.e_code}>"
                                    <{foreach from=$check item=c}><{if $v.e_code eq $c.express_code}>checked<{/if}> <{/foreach}> >
                                    <{$v.e_name}>
                                </td>
                            <{if $smarty.foreach.f.iteration is div by 4}></tr><{/if}>
                        <{/foreach}>
                    </tr>
                </tbody>
            </table>
            <div style="width: 100%;" class="center pt50 ">
                <button class="btn btn-success size-L radius"  onclick="save()">保存</button>
            </div>
    </div>
</div>
<script>
	
	//	实现tab切换的源码
	jQuery.Huitab =function(tabBar,tabCon,class_name,tabEvent,i){
	var $tab_menu=$(tabBar);
	  // 初始化操作
	  $tab_menu.removeClass(class_name);
	  $(tabBar).eq(i).addClass(class_name);
	  $(tabCon).hide();
	  $(tabCon).eq(i).show();
  
  	$tab_menu.bind(tabEvent,function(){
  	  $tab_menu.removeClass(class_name);
      $(this).addClass(class_name);
      var index=$tab_menu.index(this);
      $(tabCon).hide();
      $(tabCon).eq(index).show()})}
    $.Huitab("#tab_demo .tabBar span","#tab_demo .tabCon","current","click","1");
	
    function save()
    {
        var arr = new Array();
        $('input[type=checkbox]:checked').each(function () {
            arr.push($(this).val());
        })
        if (arr.length>0) {
            var id = arr.toString();
            layer.confirm('确定要启用选中的快递？',{
                title: '<b>提示信息</b>',
                btn: ['确定','取消'],
            },function () {
                $.ajax({
                    type:"get",
                    dataType:"json",
                    url:"mall_express_save?express_code="+id,
                    beforeSend:function(){
                        layer.msg('数据提交中...',{icon:1});
                        var index = layer.load(1,{shade: false});
                    },
                    success:function (data)
                    {
                        if(data.state == '403'){
                            layer.msg(data.msg);
                            window.top.location.href = "<{base_url('pay.php/Index/')}>login_out";
                        }else if(data.state == '401'){
                            layer.msg(data.msg);
                            return false;
                        }else {
                            layer.closeAll();
                            layer.msg(data.msg);
                        }
                    }
                })
            })
        } else {
            layer.msg('请至少选择一项！');
        }
    }
    function cancel()
    {
        var arr = new Array();
        $('input[type=checkbox]:checked').each(function () {
            arr.push($(this).val());
        })
        if (arr.length>0) {
            var id = arr.toString();
            layer.confirm('确定要关闭选中的快递？',{
                title: '<b>提示信息</b>',
                btn: ['确定','取消'],
            },function () {
                $.ajax({
                    type:"get",
                    dataType:"json",
                    url:"mall_express_cancel?express_code="+id,
                    success:function (data)
                    {
                        if(data.state == '403'){
                            layer.msg(data.msg);
                            window.top.location.href = "<{base_url('pay.php/Index/')}>login_out";
                        }else if(data.state == '401'){
                            layer.msg(data.msg);
                            return false;
                        }else {
                            layer.msg(data.msg);
                            location.replace(location.href);
                        }
                    }
                })
            })
        } else {
            layer.msg('请至少选择一项！');
        }
    }

</script>
<div id="goTop"><a href="JavaScript:void(0);" id="btntop"><i class="fa fa-angle-up"></i></a><a
        href="JavaScript:void(0);" id="btnbottom"><i class="fa fa-angle-down"></i></a></div>
</body>
</html>