<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
	
	<link href="<{TEMPLE}>css/index.css" rel="stylesheet" type="text/css">
    <link href="<{TEMPLE}>css/index_1.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="<{PLUGIN}>plugins/H-ui/static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="<{PLUGIN}>plugins/H-ui/static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="<{PLUGIN}>plugins/H-ui/lib/Hui-iconfont/1.0.7/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="<{PLUGIN}>plugins/H-ui/static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="<{PLUGIN}>plugins/H-ui/static/h-ui.admin/css/style.css" />

    <link type="text/css" rel="stylesheet" href="<{PLUGIN}>plugins/select2/css/select2.min.css">
    <link href="<{TEMPLE}>css/font-awesome.min.css" rel="stylesheet" />
    <link href="<{TEMPLE}>css/jquery-ui.min.css" rel="stylesheet" type="text/css"/>
    <link href="<{TEMPLE}>css/perfect-scrollbar.min.css" rel="stylesheet" type="text/css"/>
    <link href="<{PLUGIN}>plugins/layer/skin/layer.css" rel="stylesheet" type="text/css"/>
    <link href="<{PLUGIN}>plugins/layer/skin/laypage.css" rel="stylesheet" type="text/css"/>



    <script type="text/javascript" src="<{TEMPLE}>js/jquery.js"></script>
    <script type="text/javascript" src="<{PLUGIN}>plugins/H-ui/static/h-ui/js/H-ui.js"></script>
    <script type="text/javascript" src="<{TEMPLE}>js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="<{TEMPLE}>js/admin.js"></script>
    <script type="text/javascript" src="<{TEMPLE}>js/jquery-migrate-1.2.1.js"></script>
    <script type="text/javascript" src="<{TEMPLE}>js/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="<{TEMPLE}>js/common.js"></script>
    <script type="text/javascript" src="<{PLUGIN}>plugins/common/common.js"></script>

    <!--<script type="text/javascript" src="<{PLUGIN}>plugins/H-ui/static/h-ui/js/H-ui.min.js"></script>-->

    <script type="text/javascript" src="<{TEMPLE}>js/perfect-scrollbar.min.js"></script>
    <script type="text/javascript" src="<{TEMPLE}>js/jquery.validation.min.js"></script>

    <script type="text/javascript" src="<{PLUGIN}>plugins/layer/layer.js"></script>
    <script type="text/javascript" src="<{PLUGIN}>plugins/layer/laypage.js"></script>
    <script type="text/javascript" src="<{PLUGIN}>plugins/laydate/laydate.js"></script>
    <script type="text/javascript" src="<{PLUGIN}>plugins/select2/js/select2.min.js"></script>

    <script type="text/javascript" src="<{PLUGIN}>plugins/spinner/jquery-ui-1.10.4.custom.min.js"></script>
    <script type="text/javascript" src="<{PLUGIN}>plugins/dropdown/js/dependent-dropdown.min.js"></script>

    <script type="text/javascript" src="<{TEMPLE}>js/flexigrid.js"></script>

</head>