   <{include file="pageheader.html"}>
<style>
    
	table.table th, table.table td{
		padding:8px 0;
	}
    .arrow_box {
        position: absolute;
        background: #fff;
        border: 2px solid rgba(0,0,0,.3);
        left:0;
		margin-left:35px;
        top:-70px;
        z-index: 10;
        width: 250px;
        border-radius: 5px;;
    }
    .arrow_box li.text-l{
        width: 230px;
        height: 24px;
        line-height: 24px;
        border-bottom: 1px solid #ddd;
    }
    .arrow_box:after, .arrow_box:before {
        right: 100%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }
	.mt-5{
		margin-top: 5px!important;
	}
    .arrow_box:after {
        border-color: rgba(95, 184, 120, 0);
       border-right-color: #fff;
        border-width: 8px;
        margin-top: -8px;

    }
    .arrow_box:before {
        border-color: rgba(160, 234, 180, 0);
        border-right-color: rgba(0,0,0,.3);
        border-width: 11px;
        margin-top: -11px;
        border-radius: 5px;;
    }
    
    
    
    .select2-container .select2-selection--multiple{
	height: 28px !important;
	min-height: 0px !important;
	position: relative;
	top: 4px;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered{
    	height: 26px !important;    	
    	box-sizing: border-box;
    }

    .select2-container--default .select2-selection--multiple .select2-selection__rendered li{
    	height: 24px !important;
    	margin: 0px !important;
    	box-sizing: border-box;
    }
    
   /* */
  .select2-container .select2-selection--multiple a{
  	position: absolute;
  	right: 2px;
  	top: 12px;
  	
  }
  .select2-container .select2-selection--multiple:hover,.select2-container .select2-selection--multiple:focus{
  	border: 1px solid #0099CC;
  	box-shadow: 0 0 0 2px rgba(82, 168, 236, 0.15);
  	-moz-box-shadow:0 0 0 2px rgba(82, 168, 236, 0.15);
  	-webkit-box-shadow: 0 0 0 2px rgba(82, 168, 236, 0.15);
  
  }
input[type="text"].hide {
    display: none;
}
.c_blue {
    background-color: #0099CC;
}
td.pos-r{padding:8px 0 !important;}




  /**/
    .flexigrid .bDiv td div, .colCopy div{height:auto}
    .flexigrid .hDiv th, .flexigrid .bDiv td{vertical-align: middle !important;}
    .new_goods{color:white;background-color: red;}
    .ban:hover{
      border-color: #5a98de!important;
      color: #5a98de!important;
    }
    .select-res span,.select-res2 span {
      display: inline-block;
      width:180px;
      height:14px;
      line-height:14px;
      padding:7px 15px 7px 5px;
      border:solid 1px #c0c0c0;
      background:url(images/select_box_bg.gif) no-repeat 190px center;
      cursor: pointer;
      color:#c2c2c2;
      text-overflow:ellipsis;
      white-space:nowrap;
      overflow:hidden;
    }
    .select-res p ,.select-res2 p {
      position:relative;
      width: 200px;
      height:28px;
      line-height:28px;
      border-bottom:dashed 1px #c0c0c0;
      padding:0 5px;
      text-overflow:ellipsis;
      white-space:nowrap;
      overflow:hidden;
      padding-right:20px;
    }
    .select-res a,.select-res2 a {
      position:absolute;
      top:0;
      right:0;
      display: block;
      width:28px;
      height:28px;
      background:url(images/close_btn.jpg) no-repeat center;
      cursor:pointer;
    }
    .select-res input,.select-res2 input {
      width:172px;
      height:14px;
      line-height:14px;
      margin-left:4px;
      padding:7px 5px;
      border:solid 1px #c0c0c0;
      color:#2c2c2c;
    }
    .select-res span.selected,.select-res2 span.selected {
      color:#626262;
    }
    .select-box,.select-box2 {
      border: 1px solid #ccc;
      width:550px;
      height:220px;
      position:absolute;
      display:none;
      z-index:5;
      background: #fff;
      border-radius: 4px;
      padding: 0px 4px;
    }
    .select-box .close-btn,.select-box2 .close-btn {
      position:absolute;
      right:5px;
      top:5px;
      cursor: pointer;
    }
    .select-box .wrap,.select-box2 .wrap2 {
      height:200px;
      border:solid 1px #ddd;
      margin-top:5px;
    }
    .select-box>.wrap>div,.select-box2>.wrap2>div {
      float:left;
      width:178px;
      height:200px;
      overflow-y: scroll;
    }
    .select-box ul li,.select-box2 ul li {
      height:25px;
      line-height:25px;
      padding:0 10px;
      background: url(images/arr.gif) no-repeat 152px center;
      color:#626262;
      cursor: pointer;
    }
    .select-box ul li.selected,.select-box2 ul li.selected {
      background:url(images/arr_selected.gif) no-repeat 152px center #fd8340;
      color:#fff;
    }
    .cl-red{
      color:red;
      font-size:20px;
    }
    #classit,#classit2{
      position: relative;
    }
    #classit.active,#classit2.active{
      margin: 5px;
    }
    .wrap input,.wrap2 input{
      width: 148px;
      border-radius: 0;
      margin: 0 1px 1px 1px;
      position: absolute;
    }
    .wrap ul,.wrap2 ul{
      margin-top: 30px;
    }
</style>
<script type="text/javascript" src="<{PLUGIN}>plugins/muitipleSelect/jquery.sumoselect.min.js"></script>
 <script type="text/javascript">
        $(document).ready(function () {
            window.searchSelAll = $('.search-box-sel-all').SumoSelect({ 
                csvDispCount: 3,
                selectAll:true,
                search: true,
                searchText:'请选择.',
                okCancelInMulti:true ,
                floatWidth: 50,
            });
        });
    </script>
<body style="background-color: #FFF; overflow: auto;">
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 订单管理 <span class="c-gray en">&gt;</span> 手工下单  <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
  <!-- 操作说明 -->
<!--  <div class="explanation" id="explanation">
    <div class="title" id="checkZoom"><i class="fa fa-lightbulb-o"></i>
      <h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
      <span id="explanationZoom" title="收起提示"></span>
    </div>
    <ul>
      <li> 全站所有涉及的商品分类均来源于此处，强烈建议对此处谨慎操作。</li>
    </ul>
  </div>-->
  <form method="post" name="formSearch" id="formSearch" action="place_order"> 
  <div class="search mt-10 mb-5">
  <!-- <select name="auth_store_id" class="search pd-5 mb-10  select2" id="auth_store" style="min-width: 100px !important">
      <option value="" selected>-店铺-</option>
      <{if !empty($search.ways)}>
      <{foreach from=$search.ways item=store}>
      <option value="<{$store.auth_store_id}>"><{$store.auth_store_name}></option>
      <{/foreach}>
      <{/if}>
    </select> -->
    <select name="brand_id" class="search pd-5 mb-10  select2" id="brand" style="min-width: 100px !important">
      <option value="" selected>-品牌-</option>
      <{if !empty($search.brands)}>
      <{foreach from=$search.brands item=brand}>
      <option value="<{$brand.brand_id}>"><{$brand.brand_name}></option>
      <{/foreach}>
      <{/if}>
    </select>

    <!--<select name="gc_id" id="cate" class="selecte pd-5 mb-10 select2"  id="" style="min-width:80px !important">-->
      <!--<option value="" selected>-分类-</option>-->
      <!--<{$search.cate_option}>-->
    <!--</select>-->
<!--jgh 2017.9.20-->
    <div class="select-res" style="display: inline;">
      <input type="text" id="show" name="gcs_ids" class=" mr-5 pd-5 mb-10" value="-全部分类-"/>
      <input type="hidden" id="show2" name="gc_id" class=" mr-5 pd-5 mb-10" value=""/>
    </div>
    <div class="select-box" style="display: none">
      <div class="wrap">
        <div class="search-val-inner-first">
          <input type="text" class="search-value-first" placeholder="搜索">
          <ul class="first"></ul>
        </div>
        <div class="search-val-inner-second">
          <input type="text" class="search-value-second" placeholder="搜索">
          <ul class="second"></ul>
        </div>
        <div class="search-val-inner-third">
          <input type="text" class="search-value-third" placeholder="搜索">
          <ul class="third"></ul>
        </div>
      </div>
    </div>


    <select name="size" class="selecte pd-5 mb-10 select2" id="" style="min-width: 70px !important">
      <option value="" selected>-尺码-</option>
      <{if !empty($search.sizes)}>
      <{foreach from=$search.sizes item=size}>
      <option value="<{$size.size}>"><{$size.size}></option>
      <{/foreach}>
      <{/if}>
    </select>
    <select name="color" class="selecte pd-5 mb-10 select2" id="" style="min-width: 70px !important">
      <option value="" selected>-颜色-</option>
      <{if !empty($search.colors)}>
      <{foreach from=$search.colors item=color}>
      <option value="<{$color}>"><{$color}></option>
      <{/foreach}>
      <{/if}>
    </select>
    <select name="sex" class="selecte  pd-5 mb-10  " id="" style="min-width: 70px !important">
      <option value="" selected>-性别-</option>
      <{if !empty($search.sexs)}>
      <{foreach from=$search.sexs item=sex key=key}>
      <option value="<{$key}>"><{$sex}></option>
      <{/foreach}>
      <{/if}>
    </select>
    <select name="stocks_price" class="selecte  pd-5 mb-10 " id="" style="min-width: 80px !important">
      <option value="" selected>-价格范围-</option>
      <{if !empty($search.price_area)}>
      <{foreach from=$search.price_area item=price_area key=key}>
      <option value="<{$key}>"><{$price_area}></option>
      <{/foreach}>
      <{/if}>
    </select>
    <!-- <select name="discount" class="selecte  pd-5 mb-10  " id="" style="min-width: 80px !important">
      <option value="" selected>-折扣范围-</option>
      <{if !empty($search.discount_area)}>
      <{foreach from=$search.discount_area item=discount_area key=key}>
      <option value="<{$key}>"><{$discount_area}></option>
      <{/foreach}>
      <{/if}>
    </select> -->
    <select name="year_to_market" class="selecte  pd-5 mb-10  " id="" style="min-width: 60px !important"s>
      <option value="" selected>-年份-</option>
      <{if !empty($search.years)}>
       <{foreach from=$search.years item=year}>
      <option value="<{$year}>"><{$year}></option>
      <{/foreach}>
      <{/if}>
    </select>
    <select name="season_to_market" class="selecte  pd-5 mb-10 " id="" style="min-width: 60px !important">
      <option value="" selected>-季节-</option>
      <{if !empty($search.quarters)}>
       <{foreach from=$search.quarters item=quarter key=key}>
      <option value="<{$key}>"><{$quarter}></option>
      <{/foreach}>
      <{/if}>
    </select>
    <select name="sort" class="selecte  pd-5 mb-10 " id="" style="min-width: 60px !important">
      <option value="" selected>-排序-</option>
      <{if !empty($search.orders)}>
      <{foreach from=$search.orders item=order key=key}>
      <option value="<{$key}>"><{$order}></option>
      <{/foreach}>
      <{/if}>
    </select>
    <select name="goods_image" class="selecte  pd-5 mb-10 " id="" style="min-width: 80px !important">
    <option value="" selected>-是否有图-</option>
    <{if !empty($search.picture)}>
      <{foreach from=$search.picture item=picture  key=key}>
      <option value="<{$key}>"><{$picture}></option>
      <{/foreach}>
      <{/if}>
    </select>
    <input name="stocks_sn" type="text"id="" placeholder="货号" style="width:200px !important" class="input-text input_text f-12   mysearch mb-10 ">
    <input name="goods_spu" type="text"id="" placeholder="款号" style="width:200px !important" class="input-text input_text f-12   mysearch mb-10 ">
    <input type="button" id="search" onclick="search_button()" class="btn btn-warning radius ml-5 pButton mb-10" value="搜索">
    <a class="btn btn-primary radius export ml-10 mb-10" href="javascript:;" onclick="fg_export()"><span><i class="fa fa-file-excel-o"></i>导出库存</span></a>
  </div>
  </form>

  <!--jgh 2017.9.20-->
  <script type="text/javascript" src="<{TEMPLE}>js/jQuery.Hz2Py-min.js"></script>
  <script>
       var demo =<{if isset($class_arr)}><{$class_arr}><{/if}>;
      var demo2 =<{if isset($class_arr)}><{$class_arr}><{/if}>;
      $('.select-res').on('click', function() {

          $('.select-box').show();
          if (canClick) {
              $('ul', $('.select-box')).html('');
              fillData();
              canClick = !1;
          }
          return false;
      });

      var flag =     "<{if isset($source)}><{$source}><{/if}>";
      var dataJson = {
          "option": demo
      }
      var l1 = 0,
          l2 = 0;
      var cname1, cname2, cname3;
      var cid1, cid2, cid3;
      var canClick = !0;
      var canClose = !1;

      $('.select-box').click(function(){
          return false;
      })
      $('span', $('.select-box')).on("click", function() {
          canClose ? $('.select-box').hide() : alert('请选择下级品类！');
          canClick = !0;
      });

      $('.select-res').on('click', 'a', function() {
          $(this).parent().remove();
          $('.select-box').css({
              top: $('.select-res').offset().top + $('.select-res').outerHeight(true)
          });
      })

      $('ul.first', $('.select-box')).on('click', 'li', function() {
          $(this).addClass('selected').siblings().removeClass('selected');
          $('ul.second').html('');
          $('ul.third').html('');
          fillData($(this).attr('data-num'));
          l1 = $(this).attr('data-num');
          cname1 = $(this).text();
          if(cname1.indexOf('*')>0){
              cname1 = cname1.split('*')[0];
          }
          cid1 = $(this).attr('val');
          canClose = !1;
      });
      //双击如果有*的话就选中
      $('ul.first', $('.select-box')).on('click', 'li', function() {
          if(flag!='all'){
              $('#show').val(cname1);
              $('#show2').val(cid1);
              //$('.select-box').hide();
              $('.select-box').css("display","none");
          }else{

              if($(".search-val-inner-second .second").children().length==0){
                  $('#show').val(cname1);
                  $('#show2').val(cid1);
                  //$('.select-box').hide();
                  $('.select-box').css("display","none");
              }
          }
      });
      $('ul.second', $('.select-box')).on('click', 'li', function() {
          $(this).addClass('selected').siblings().removeClass('selected');
          $('ul.third').html('');
          fillData(l1, $(this).index());

         l2 = $(this).index();
          cname2 = $(this).text();
          if(cname2.indexOf('*')>0){
              cname2 = cname2.split('*')[0];
          }
          cid2 = $(this).attr('val');
          canClose = !1;

          if($(".search-val-inner-third .third").children().length==0){
              $('#show').val(cname1 + '>' + cname2);
              if(cid2 == ''){
                  cid2 = cid1;
              }
              $('#show2').val(cid2);
              $('.select-box').css("display","none");
          }
      });
      //双击如果有*的话就选中
      $('ul.second', $('.select-box')).on('dblclick', 'li', function() {
          if(flag!='all'){
              $('#show').val(cname1 + '>' + cname2);
              $('#show2').val(cid2);
              //$('.select-box').hide();
              $('.select-box').css("display","none");
          }else{
             var patt = /\* */g;
              if(patt.test($(this).html())){

                  alert(123);
                  $('#show').val(cname1 + '>' + cname2);
                  $('#show2').val(cid2);
                  //$('.select-box').hide();
                  $('.select-box').css("display","none");
              }
          }

      });
      $('ul.third', $('.select-box')).on('click', 'li', function() {
          $(this).addClass('selected').siblings().removeClass('selected');
          cname3 = $(this).text();
          cid3 = $(this).attr('val');
          canClose = !0;
          var hasExist = !1;
          $('.select-res').find("p").each(function() {
              if ($(this).text().split(' > ')[2] == cname3) hasExist = !0;
          })
          $('#show').val(cname1 + '>' + cname2 + '>' + cname3);
          if (cid3 == ''){
              cid3 = cid2;
          }
          $('#show2').val(cid3);
          //$('.select-box').hide();
          $('.select-box').css("display","none");
      });
      $('body').click(function(){
          $(".select-box").hide();
      })

      //填充级联数据

      function fillData(l1, l2) {

          var temp_html = "";
          if (typeof(dataJson.option) != 'undefined' && arguments.length == 0 ) {
              var n=0;
              $.each(dataJson.option, function(i, pro) {
                  temp_html += '<li val="' + pro.id + '" son="'+pro.son+'" data-name="'+pro.name+'" class="search-li" data-num="'+(n++)+'">' + pro.name + '</li>';
              });
          }else if (typeof(dataJson.option[l1].child) == 'undefined') {
              return false;
          }else if (typeof(dataJson.option[l1].child) != 'undefined' && arguments.length == 1) {
              var n=0;
              $.each(dataJson.option[l1].child, function(i, pro) {
                  temp_html += '<li val="' + pro.id + '" son="'+pro.son+'" data-name="'+pro.name+'" class="search-li" data-num="'+(n++)+'">' + pro.name + '</li>';
              });
          } else if (typeof(dataJson.option[l1].child[l2].child) != 'undefined' && arguments.length == 2) {
              var n=0;
              $.each(dataJson.option[l1].child[l2].child, function(i, pro) {
                  temp_html += '<li val="' + pro.id + '" son="'+pro.son+'" data-name="'+pro.name+'" class="search-li" data-num="'+(n++)+'">' + pro.name + '</li>';
              });
          }
          $('.select-box ul:eq(' + arguments.length + ')').html(temp_html);

          new SEARCH_ENGINE("search-val-inner-first","search-value-first","first","search-li");
          new SEARCH_ENGINE("search-val-inner-second","search-value-second","second","search-li");
          new SEARCH_ENGINE("search-val-inner-third","search-value-third","third","search-li");
      }
      SEARCH_ENGINE.prototype = {
          //-----------------------------【转换成拼音，并将拼音、汉字、数字存入数组】
          transformPinYin : function(){

              //临时存放数据对象
              $("body").append('<input type="text" class="hidden pingying-box">');
              var $pinyin = $("input.pingying-box");

              for(var i=0;i<this.searchList.length;i++){

                  //存放名字，转换成拼音
                  $pinyin.val(this.searchList.eq(i).attr("data-name"));

                  //汉字转换成拼音
                  var pinyin = $pinyin.toPinyin().toLowerCase().replace(/\s/g,"");

                  //汉字
                  var cnCharacter = this.searchList.eq(i).attr("data-name");

                  //数字
                  var digital = this.searchList.eq(i).attr("data-num");

                  //val
                  var val = this.searchList.eq(i).attr("val");

                  //存入数组
                  this.searchMemberArray.push(pinyin + "&" + cnCharacter + "&" + digital + "&" + val);
              }

              //删除临时存放数据对象
              $pinyin.remove();
          },

          //-----------------------------【模糊搜索关键字】
          fuzzySearch : function(type,val){
              var s;
              var returnArray = [];

              //拼音
              if(type === "pinyin"){
                  s = 0;
              }
              //汉字
              else if(type === "cnCharacter"){
                  s = 1;
              }
              //数字
              else if(type === "digital"){
                  s = 2;
              }

              for(var i=0;i<this.searchMemberArray.length;i++){
                  //包含字符
                  if(this.searchMemberArray[i].split("&")[s].indexOf(val) >= 0){
                      returnArray.push(this.searchMemberArray[i]);
                  }
              }

              return returnArray;

          },

          //-----------------------------【输出搜索结果】
          postMemberList : function(tempArray){
              var html = '';

              //有搜索结果
              if(tempArray.length > 0){

                  html += '<li class="tips">搜索结果（' + tempArray.length + '）</li>';

                  for(var i=0;i<tempArray.length;i++){
                      var sArray = tempArray[i].split("&");

                      html += '<li data-num="'+sArray[2]+'" val="'+sArray[3]+'">' + sArray[1] + '</li>';
                  }
              }
              //无搜索结果
              else{

                  if($(this.searchInput).val() != ""){
                      html += '<li class="tips">无搜索结果……</li>';
                  }else{
                      this.searchResultInner.html("");
                  }
              }
              this.searchResultInner.html(html);
          },

          //-----------------------------【绑定搜索事件】
          searchActiveEvent : function(){

              var searchEngine = this;

              $(document).on("keyup",this.searchInput,function(){

                  //临时存放找到的数组
                  var tempArray = [];

                  var val = $(this).val();

                  //判断拼音的正则
                  var pinYinRule = /^[A-Za-z]+$/;

                  //判断汉字的正则
                  var cnCharacterRule = new RegExp("^[\\u4E00-\\u9FFF]+$","g");

                  //判断整数的正则
                  var digitalRule = /^[-\+]?\d+(\.\d+)?$/;

                  //只搜索3种情况
                  //拼音
                  if(pinYinRule.test(val)){
                      tempArray = searchEngine.fuzzySearch("pinyin",val);
                  }
                  //汉字
                  else if(cnCharacterRule.test(val)){
                      tempArray = searchEngine.fuzzySearch("cnCharacter",val);
                  }
                  //数字
                  else if(digitalRule.test(val)){

                      tempArray = searchEngine.fuzzySearch("digital",val);
                  }
                  else{
                      searchEngine.searchResultInner.html('<li class="tips">无搜索结果……</li>');
                  }

                  searchEngine.postMemberList(tempArray);

                  //判断如果为空就显示之前的内容
                  if(val==''){
                      if($(this).attr('class')=='search-value-first'){
                          fillData();
                      }else if($(this).attr('class')=='search-value-first2'){
                          fillData2();
                      }else if($(this).attr('class')=='search-value-second'){
                          var l1 = $('.first .selected').attr('data-num');
                          fillData(l1);
                      }else if($(this).attr('class')=='search-value-second2'){
                          var l1 = $('.first2 .selected').attr('data-num');
                          fillData2(l1);
                      }else if($(this).attr('class')=='search-value-third'){
                          var l1 = $('.first .selected').attr('data-num');
                          var l2 = $('.second .selected').attr('data-num');
                          fillData(l1,l2);
                      }else if($(this).attr('class')=='search-value-third2'){
                          var l1 = $('.first2 .selected').attr('data-num');
                          var l2 = $('.second2 .selected').attr('data-num');
                          fillData2(l1,l2);
                      }
                  }
              });
          }
      };
      //---------------------------------------------------【初始化】
      function SEARCH_ENGINE(dom,searchInput,searchResultInner,searchList){

          //存储拼音+汉字+数字的数组
          this.searchMemberArray = [];

          //作用对象
          this.dom = $("." + dom);

          //搜索框
          this.searchInput = "." + searchInput;

          //搜索结果框
          this.searchResultInner = this.dom.find("." + searchResultInner);

          //搜索对象的名单列表
          this.searchList = this.dom.find("." + searchList);

          //转换成拼音并存入数组
          this.transformPinYin();

          //绑定搜索事件
          this.searchActiveEvent();

      };

  </script>

  <script>

  var fog=true;
//  $(".select2").select2({
////       placeholder:'请选择',
//////      dir: "rtl",
////    	 width:"220px",
////        allowClear: true,
////      dropdownAutoWidth:true,
////      closeOnSelect: false,   
////      multiple:true,
//      
//   });
  function batch_order(){
	   $('div.batch_order').toggle(
              function(){
                  $(this).parents("tr").find("input.hide").show();
                  $("a.size_").each(function(){
                      //if($(this).text()==0){
                          //$(this).parents("td").find("input").hide();
                      //}
                  })
              },
              function(){
                  if(fog==false){
                      return false
                  }
                  var i=[];
                  var k=$(this).parents("tr");
                  k.find('input').each(function(){
                      if($(this).val()!=0){
                          
                          i.push($(this).parent().find('.size_').attr('data-sa-id')+','+$(this).val());
                      }
                 })



                      data=i.join('|');
                      $(this).parents("tr").find("input.hide").hide();

                      $.post('push_shop_cart',{data:data},function(data){
                          if(typeof(data)=='string'){
                              data = jQuery.parseJSON(data);
                          }
                          if(data.state == '403'){
                              layer.msg(data.msg);
                              window.top.location.href = "<{base_url('pay.php/Index/')}>login_out";
                          }else if(data.state == '401'){
                              layer.msg(data.msg);
                              return false;
                          }else if(data.state){
                              $('#shop_cart_total', window.parent.document).text(data.data);
                              layer.msg(data.msg);
                          }else{
                              layer.msg('下单失败，请重试');
                          }
                      })

              }
      )
}
  </script>
  
  <div class="flexigrid">
<{include file="place_order_body.html"}>
 </div>
<script>
var loading = true;
var c_class = true;
 //分页
   $(function(){
	 //批量下单点击任意地方也下单
	   $("body").on('click',function(){
		   if($(':focus').length==0){
			   var input_num=$('input.hide');
			   var statu = false;i=[];
			   $.each(input_num,function(){
				   if($(this).css('display')=='inline-block'){
					   
					   if($(this).val()!=0){
						   statu = true;
	                      
	                       i.push($(this).parent().find('.size_').attr('data-sa-id')+','+$(this).val())
	                   }
				   }
			   })
			   if(statu){
				   $('input.hide').hide();		   
				   data=i.join('|');
                   $.post('push_shop_cart',{data:data},function(data){
                       if(typeof(data)=='string'){
                           data = jQuery.parseJSON(data);
                       }
                       if(data.state == '403'){
                           layer.msg(data.msg);
                           window.top.location.href = "<{base_url('pay.php/Index/')}>login_out";
                       }else if(data.state == '401'){
                           layer.msg(data.msg);
                           return false;
                       }else if(data.state){
	                        $('#shop_cart_total', window.parent.document).text(data.data);
	                           layer.msg(data.msg);
	                        }else{
	                           layer.msg('下单失败，请重试');
	                       }
                   })
			   }
			   //alert(1);
		   }
	   })
	   $(".select2").select2(); 
		/*商品图片放大*/
       $( document ).tooltip({
           items: "img, [data-geo], [title]",
           content: function() {
               var element = $( this );
               if ( element.is( "[data-geo]" ) ) {
                   return element.data( "geo" );
               }
               if ( element.is( "[title]" ) ) {
                   return element.attr( "title" );
               }
               if ( element.is( "img" ) ) {
                   return element.attr( "alt" );
               }
           }
       });
   
       //
	   
	   $('.mysearch').bind('keydown', function (e) {    
		   var key = e.which;
		   if(key == 13){
			   page('1');
		   }
	 });
	 //页面大小
	  $('.flexigrid').on('change','.prp',function(){
		  var flag = false;
	  	   $('.pButton').each(function(){
	  		  if($(this).hasClass('p_loading')){
	  			  flag = true;
	  		  }
	  	   })
	  	   if(flag){
	  		  return true;
	  	   }
	 	  	$(this).addClass('p_loading');
	 		  page('1');
	  })
	  /* $('.prp').change(function(){          
		   
	 	  });*/
	 	  
	  //输入框输入分页
	   $('.flexigrid').on('keydown','.pcur',function(e){ 
		   var flag = false;
 	  	   $('.pButton').each(function(){
                        if($(this).hasClass('p_loading')){
                          flag = true;
                        }
 	  	   })
 	  	   if(flag){
 	  		  return true;
 	  	   }
		   var key = e.which;
		   if(key == 13){
                        var curpage = parseInt($('.pcur').val());p_ptotal = parseInt($('.ptotal').text());
                        
                                if(curpage > p_ptotal){
                                        curpage = p_ptotal;
                                }
                                $(this).addClass('p_loading');
                                page(curpage);
                        
                   }
	   });
	  //前一页
	  $('.flexigrid').on('click','.pPrev',function(){ //前一页
 	  // $('.pPrev').click(function(){          
 		   var flag = false;
	  	   $('.pButton').each(function(){
	  		  if($(this).hasClass('p_loading')){
	  			  flag = true;
	  		  }
	  	   })
	  	   if(flag){
	  		  return true;
	  	   }
 		  if(parseInt($('.pcur').val()) == 1){
 			  layer.tips('已经是第一页啦', '.pPrev', {
 				  tips: [1, '#3595CC'],
 				  time: 3000
 				})
 			  return false;
 		  }
 		  var curpage = parseInt($('.pcur').val())-1 > 0 ? parseInt($('.pcur').val())-1 : 1;
 		  $(this).addClass('p_loading');
 		  page(curpage);
 	  });
 	 $('.flexigrid').on('click','.pNext',function(){ //后一页
 	 // $('.pNext').click(function(){           
 		  if(parseInt($('.pcur').val()) == parseInt($('.ptotal').html())){
 			  layer.tips('已经是最后一页啦', '.pNext', {
 				  tips: [1, '#3595CC'],
 				  time: 3000
 				})
 			  return false;
 		  }
 		  var curpage = parseInt($('.pcur').val())+1 > 0 ? parseInt($('.pcur').val())+1 : 1;
 		  page(curpage);
 	  });
 	 $('.flexigrid').on('click','.pFirst',function(){ //第一页
 	  //$('.pFirst').click(function(){          //第一页
 		   var flag = false;
	  	   $('.pButton').each(function(){
	  		  if($(this).hasClass('p_loading')){
	  			  flag = true;
	  		  }
	  	   })
	  	   if(flag){
	  		  return true;
	  	   }
 		  if(parseInt($('.pcur').val()) == 1){
 			  layer.tips('已经是第一页啦', '.pPrev', {
 				  tips: [1, '#3595CC'],
 				  time: 3000
 				})
 			  return false;
 		  }
 		  var curpage = 1;
 		  $(this).addClass('p_loading');
 		  page(curpage);
 	  });
 	$('.flexigrid').on('click','.pLast',function(){ //最后一页
 	  //$('.pLast').click(function(){          //最后一页
 		  var flag = false;
	  	   $('.pButton').each(function(){
	  		  if($(this).hasClass('p_loading')){
	  			  flag = true;
	  		  }
	  	   })
	  	   if(flag){
	  		  return true;
	  	   }
 		  if(parseInt($('.pcur').val()) == parseInt($('.ptotal').html())){
 			  layer.tips('已经是最后一页啦', '.pNext', {
 				  tips: [1, '#3595CC'],
 				  time: 3000
 				})
 			  return false;
 		  } 
 		  var curpage = parseInt($('.ptotal').html());
 		 $(this).addClass('p_loading');
 		  page(curpage);
 	  });
 	  
   });
 //搜索
  function search_button(){
    var flag = false;
    $('.pButton').each(function(){
           if($(this).hasClass('p_loading')){
                   flag = true;
           }
    })
    if(flag){
           return true;
    }
         $(this).addClass('p_loading');
        page('1');
    
  }
   function page(curpage){
	   if(loading){
                loading = false;
	  }else{
                return false;
	  }
 	  var rp = $('.prp').length>0 ? $('.prp').val() : 10;
 	  var data = $('#formSearch').serialize();
 	 $.ajax({
                type: "post",
                url: "place_order?op=page",
                data: data+"&rp="+rp+"&curpage="+curpage,
                dataType: "html",
                beforeSend: function(data){
                        loading = true;
                        var index = layer.load(0, {shade: false}); //0代表加载的风格，支持0-2
                },
                success: function(data){
                    if(data.state == '403'){
                        layer.msg(data.msg);
                        window.top.location.href = "<{base_url('pay.php/Index/')}>login_out";
                    }else if(data.state == '401'){
                        layer.msg(data.msg);
                        return false;
                    }else  if(data.indexOf('goods_list') >= 0){
                        $(".flexigrid").html(data);
                    }else{
//                    console.log(data);return false;
//                        data = JSON.parse(data);
                        if(data.state){
                            layer.msg(data.msg);
                            setTimeout(function(){
                                if (window.parent != window)
                            {
                              window.top.location.href = "../login/logout";
                            }
                            },3000)
                        }
                    }
                    layer.closeAll('loading'); //关闭加载层
                },
                complete: function(XHR, TS){
            	    $('img').error(function(){
                      $(this).attr('src', "<{PLUGIN}>data/images/<{$defaultImg}>");
                      $(this).attr('data-geo', "<img src=<{PLUGIN}>data/images/<{$defaultImg}> width=300px>");
                      
                    });
                    layer.closeAll('loading'); //关闭加载层
               }
         });	  
   }
 /*公告*/
 $('.flexigrid').on('mouseover mouseout','span i.news',function(event){ //最后一页
	 if(event.type == "mouseover"){
 /*$("span i.news").hover(
         function(){*/
         	var index = $(this);
                var notice = $(this).data('notice');
                var html = "<div class='arrow_box f-12 pos-r' style='font-style: normal;'><div class='layui-layer-title text-l ' ><b>仓库公告</b><a href='../message/index/2' class='pos-a bottom f-12' style='right:15px;color:#666'>更多公告</a></div>"+
                    "<ul class=' pd-10' style='height: 96px;overflow: hidden;'>";
                    $.each(notice,function(k,v){
                        html +="<li class='text-l text-overflow' style='border-bottom: 1px solid #ddd'>"+
                        "<a data-title='"+v.title+"' data-content='"+v.content+"' data-time='"+v.add_time+
                        "'href='javascript:;'style='color: #666;' onclick='fg_detail(this)'>"+(++k)+"."+v.title+"</a>"+
                        "</li>";
                    })
                    html +="</ul></div>";
                    index.append(html);
     		/*$.ajax({
     			type: "get",
     			url: "notice?op=way_msg&depot_code="+depot_code,
     			data:'',
     			dataType: "json",
     			success: function(data){
                                if(data.state=='403'){
                                        login_ajax('agent',data);
                                }else if(data.state == true){
                                    layer.msg(data.msg);
                                    setTimeout(function(){
                                            if (window.parent != window)
                                    {
                                      window.top.location.href = "../login/logout";
                                    }
                                    },3000)
                                }else{
                                var html = "<div class='arrow_box f-12 pos-r' style='font-style: normal;'><div class='layui-layer-title text-l ' ><b>仓库公告</b><a href='../message/index/2' class='pos-a bottom f-12' style='right:15px;color:#666'>更多公告</a></div>"+
                                "<ul class=' pd-10' style='height: 96px;overflow: hidden;'>";
                                $.each(data,function(k,v){
                                        html +="<li class='text-l text-overflow' style='border-bottom: 1px solid #ddd'><a data-title='"+v.title+"' data-content='"+v.content+"' data-time='"+v.add_time+"'href='javascript:;'style='color: #666;' onclick='fg_detail(this)'>"+(++k)+"."+v.title+"</a></li>";
                                })
                                html +="</ul></div>";
                                index.append(html);
    		  		}
     			}
     		})*/
          }else{
                $(".arrow_box").remove();                 	  
          }
    })
 function fg_detail(obj) {
//    console.log(obj);return false;
     /*详情*/    
     var title = $(obj).data('title');
     var time = $(obj).data('time');
     time = new Date(parseInt(time) * 1000).toLocaleString().replace(/:\d{1,2}$/,' ');     
     var content = $(obj).data('content');
     var data = '<div class="pd-10"><p style="text-align: center;"><span style="font-size: 18px;"><strong>'+title+'</strong></span></p><p style="text-align: center;"><span style="font-family: 楷体, 楷体_GB2312, SimKai; font-size: 14px;">'+time+'</span></p><p>'+content+'</p></div>';
         layer.open({
             type: 1,
             shadeClose :true,
             title: '<b>信息</b>',
             area: ['500px', 'anto'], //宽高
             content: data
         });
 } 
 /*#addr*/
 $('.flexigrid').on('mouseover mouseout','span#addr',function(event){ //最后一页
	 if(event.type == "mouseover"){
   /*$("span#addr").hover(
           function(){*/
         	var depot_info = $(this).data("info");
                var content = "<ul class=' pd-10' >";
                content += "<li class='text-l ' style='border-bottom: 1px solid #ddd'>1.发货日期安排："+depot_info.shipment_time+"</li>";
                content += "<li class='text-l ' style='border-bottom: 1px solid #ddd'>2.截止交单时间："+depot_info.deliver_time+"</li>";
                content += "<li class='text-l ' style='border-bottom: 1px solid #ddd'>3.渠道配货率："+depot_info.distribution_rate+"</li>";
                content += "<li class='text-l ' style='border-bottom: 1px solid #ddd'>4.退货政策："+depot_info.refunds_note+"</li>";         
                content += "<li class='text-l text-overflow' style='border-bottom: 1px solid #ddd'>5.物流说明："+depot_info.express+"</li>";
                content += "<li class='text-l text-overflow' style='border-bottom: 1px solid #ddd'>6."+depot_info.other_note+"</li>";
                content += "</ul>";
                layer.tips(content, $(this), {
                    tips: [3, '#3595CC'],
                    time: 4000000000000
                });
           }else{
        	   layer.closeAll()
           }
   })
   $(function(){	  
      $("#cate_1").change(function(){
    	  if(c_class){
     		 c_class = false;
     	 }else{
     		 return false;
     	 }
     	 get_son_cate_list();
      })     
   });
    
   function get_son_cate_list(){     //获取相应的二级分类
        var cate_1 = $("#cate_1").val();
        if(cate_1 != ''){
            $.ajax({
                type: "post",
                url: "get_son_cate_list",
                data:"parent_id="+cate_1,
                success: function(data){
                    if(data.state == '403'){
                        layer.msg(data.msg);
                        window.top.location.href = "<{base_url('pay.php/Index/')}>login_out";
                    }else if(data.state == '401'){
                        layer.msg(data.msg);
                        return false;
                    }else {
                        c_class = true;
                        $("#cate_2").find("option").remove();
                        $("#cate_2").html(data);
                    }
                }
           });
        }
   }
   
   $(function(){	   
	   $('.flexigrid').on('mouseover mouseout','.showall',function(event){ //最后一页
			 if(event.type == "mouseover"){
       //$(".size_num").parents("td").hover(
				 $(this).parents("tr").find("div.batch_order").show();
                 if($(this).find("a").html()==0){
                     $(this).find("a").css("cursor","default");
                 }
               }else{
            	   if($(this).parents("tr").find("input.hide").css("display")=="none"){
                       $(this).parents("tr").find("div.batch_order").hide();
                     }
               }
              
	   });
       //批量下单 只能填写正整数  且商品数量应不大于实际数量
      
       $('.flexigrid').on('change','input.hide',function(){ //最后一页
       //$("input.hide").change(function(){
           var k=$(this).val()*1;
           var i=$(this).parents("td").find(".size_").text()*1;
           if((/^(\+|-)?\d+$/.test( k )&&k>0)){
               /* if(k>i){
                   layer.msg('商品数量应小于实际数量');
                   $(this).val('');
                   return fog=false;
               }else{ */
                   return fog=true;
               //}
           }else{
               $(this).val('');
               layer.msg('请填写正整数');
               return fog=false;
           }
       })
       /*批量下单*/
       /*$('.flexigrid').on('click','div.batch_order',function(){ //最后一页   	   
    	         
       })*/

       $(".flexigrid").on("click",'a.size_',function(){
            //if($(this).text()!=0){
                $.post('push_shop_cart',{data:$(this).attr('data-sa-id')+',1'},function(data){
                    if(typeof(data)=='string'){
                        data = jQuery.parseJSON(data);
                    }
                    if(data.state == '403'){
                        layer.msg(data.msg);
                        window.top.location.href = "<{base_url('pay.php/Index/')}>login_out";
                    }else if(data.state == '401'){
                        layer.msg(data.msg);
                        return false;
                    }else if(data.state){
                    	$('#shop_cart_total', window.parent.document).text(data.data);
                        layer.msg(data.msg);
                    }else{
                        layer.msg('下单失败，请重试');
                    }
                })
            //}

         	
       })
     })
     <!--获取指定渠道下相应的品牌列表-->
function get_brand_list(depot){
	var depot_code = $(depot).val();
	var html = '<option value="">-品牌-</option>';
	$('#brand').html(html);
	$.ajax({
        type: "get",
        url: "get_brand_list?depot_code="+depot_code,
        data: '',
        dataType: "json",
        success: function(data){
            if(data.state == '403'){
                layer.msg(data.msg);
                window.top.location.href = "<{base_url('pay.php/Index/')}>login_out";
            }else if(data.state == '401'){
                layer.msg(data.msg);
                return false;
            }else {
                html += data;
                $('#brand').html(html);
            }
        }
	})
}
function fg_export(){
    var search = $("#formSearch").serialize();
    //var list = {'基本信息':['商品名称','条形码','类别','品牌'],'相关属性':['颜色','性别','吊牌价','上市时间']};
    var list1 = {'e_goods_name':'商品名称','e_stocks_bar_code':'条形码','e_class':'类别','e_brand':'品牌'};
    var list2 = {'e_color':'颜色','e_sex':'性别','e_goods_marketprice':'吊牌价','e_year':'上市时间'};
    var content = '<div class="pd-10" style="overflow: auto">'+
            '<form action="" id="form-list">'+
            '<table class="table table-border" style="">'+
            '<tbody>'+
            '<th colspan="5" bgcolor="#F5F5F5">'+
            '<input type="checkbox"  class="ml-20 mr-5 th_checkbox" nctype="modulesAll" value="2"  id="selectAll">全选</th>';

            content += '<tr><td width="20%" class=""><div class="w-100 f-r pr-5" style="border-right: 1px dotted #ddd">'+
              '<input type="checkbox" nctype="groupAll" class="mr-5" value="" >基本资料</div></td>';
            $.each(list1,function(k,v){
                content += '<td><input type="checkbox" name="export['+k+']" class="ml-10 mt-5 f-l" value="'+v+'" style="margin-right:3px"><span class="mr-5 f-l ">'+v+'</span> ';
                content +='</td>';
            });
            content += '</tr>';
            content += '<tr><td width="20%" class=""><div class="w-100 f-r pr-5" style="border-right: 1px dotted #ddd">'+
                '<input type="checkbox" nctype="groupAll" class="mr-5" value="" >相关属性</div></td>';
            $.each(list2,function(k,v){
                content += '<td><input type="checkbox" name="export['+k+']" class="ml-10 mt-5 f-l" value="'+v+'" style="margin-right:3px"><span class="mr-5 f-l ">'+v+'</span> ';
                content += '</td>';
            });
            content +='</tr></tbody>'+
            '</table></form>'+
            '</div>';
    var index = layer.open({
        type: 1,
        title: '<b>导出字段选择</b>',
        skin: 'layui-layer-rim', //加上边框
        area: ['500px', '250px'], //宽高
        btn: ['提交', '取消'],
        content: content,
        success:function(){
            // 全选
            $('#selectAll').click(function(){
              $('input[type="checkbox"]').attr('checked',$(this).attr('checked') == 'checked');
            });
            // 功能模块
            $('input[nctype="modulesAll"]').click(function(){
                $(this).parents('table').find('input[type="checkbox"]').attr('checked',$(this).attr('checked') == 'checked');
            });
            // 功能组
            $("tr input[type=checkbox]").eq(0).attr("nctype","groupAll");
            $('input[nctype="groupAll"]').click(function(){
                $(this).parents('tr').find('input[type="checkbox"]').attr('checked',$(this).attr('checked') == 'checked');
            });
        },
        yes: function () {
            var form = $("<form></form>");
            var list = $("#form-list").serialize();
            form.attr('action', 'place_order_export?' + search+'&'+list);
            form.attr('method', 'post');
            form.appendTo("body");
            form.css('display', 'none');
            layer.closeAll();
            form.submit();
            layer.msg('开始生成导出文件');
        }, no: function () {}
    })
}

   </script>
  <div id="goTop"> <a href="JavaScript:void(0);" id="btntop"><i class="fa fa-angle-up"></i></a><a href="JavaScript:void(0);" id="btnbottom"><i class="fa fa-angle-down"></i></a></div>
</body>
</html>