<{include file="pageheader.html"}>
<link type="text/css" rel="stylesheet" href="<{base_url()}>plugins/select2/css/select2.min.css">
<script type="text/javascript" src="<{base_url()}>plugins/select2/js/select2.min.js"></script>
<script type="text/javascript" src="<{base_url()}>plugins/jquery-ui/jquery-ui.min.js"></script>
	<style type="text/css">
		a:hover{
			color: #333;
		}
		.layui-layer-content{
			padding: 0 10px 10px 10px;
		}
	</style>
<body style="background-color: #FFF; overflow: auto;">
<nav class="breadcrumb">
	<i class="Hui-iconfont">&#xe67f;</i> 库存管理 <span class="c-gray en">&gt;</span>库存管理
	<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" >
		<i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="page-container">
    <div id="tab_demo" class="HuiTab">
        <div class="tabBar clearfix">
            <{if $op eq 'all'}>
                <a href="javascript:;" ><span class="current">总库商品</span></a>
                <a href="<{base_url('pay.php/stock/')}>stock_query?op=shop"><span>自建商品</span></a>
            <{else}>
                <a href="<{base_url('pay.php/stock/')}>stock_query?op=all" ><span>总库商品</span></a>
                <a href="javascript:;"><span class="current">自建商品</span></a>
            <{/if}>
        </div>
    </div>
	<form  method="post"  name="formSearch" id="formSearch">

        <div class="search mb-10 mt-20">
            <select name="year_to_market" placeholder="请选择" class=" mr-5 m_w_120 pd-5 mb-10" style="min-width: 80px">
                <option value="" selected>-上市年份-</option>
                <{section name=total loop=10}>
                <option value="<{date('Y')+5-$smarty.section.total.iteration}>">
                    <{date("Y")+5-$smarty.section.total.iteration}>
                </option>
                <{/section}>
            </select>
            <select name="season_to_market" placeholder="请选择" class=" mr-5 m_w_120 pd-5 mb-10" style="min-width: 80px">
                <option value="" selected>-上市季节-</option>
                <option value="1">春季</option>
                <option value="2">夏季</option>
                <option value="3">秋季</option>
                <option value="4">冬季</option>
            </select>
            <select name="sex" placeholder="请选择" class=" mr-5 m_w_120 pd-5 mb-10" style="min-width: 100px">
                <option value="" selected>-商品性别-</option>
                <option value="2">男</option>
                <option value="1">女</option>
                <option value="3">通用</option>
            </select>
            <select name="available_coupons" placeholder="请选择" class=" mr-5 m_w_120 pd-5 mb-10" style="min-width: 80px">
                <option value="" selected>-优惠券-</option>
                <option value="1">支持</option>
                <option value="0">不支持</option>
            </select>
            <select name="gc_id" class=" mr-5 m_w_120 pd-5 mb-10">
            	<option value="" selected="">-分类选择-</option>
           		<{if !empty($cate_option) }><{$cate_option}><{/if}>
			</select>
			
			<select name="brand_id" class="mr-5 m_w_120 pd-5 mb-10">
	            <option value="" selected="">-品牌选择-</option>
	            <{foreach from=$brands item=brand}>
	        		<option value="<{$brand.brand_id}>"><{$brand.brand_name}></option> 
		        <{/foreach}>
		   </select>  
     
	        <select name="amount" class="mr-5 m_w_120 pd-5 mb-10">
	            <option value="" selected="">-是否有库存-</option>
	            	<option value="1">有库存</option> 
					<option value="0">无库存</option>
			</select>

            <select name="goods_image" class="selecte  pd-5 mb-10 "  style="min-width: 80px !important">
                <option value="" selected>-是否有图-</option>
                <option value="1">有图</option>
                <option value="2">无图</option>
            </select>
			
			
	        <input name="stock_name" type="text"     class=" input-text input_text mb-10" placeholder="名称">
	        <input name="stock_sn"   type="text"     class=" input-text input_text mb-10" placeholder="款号">
	        <input name="stocks_bar_code"   type="text"     class=" input-text input_text mb-10" placeholder="条形码">

        <input id="searchBtn" type="button" class="btn btn-warning radius ml-10 mb-10" value="搜索">
        </div>
    </form>
    <!--<div id="flexigrid"></div>-->
    <table class="table table-border table-bordered table-hover table-bg table-content">
        <thead>
        <tr>
            <th scope="col" colspan="13">库存列表</th>
        </tr>
        <tr class="text-c">
            <th width=""><input type="checkbox" value="" name="" onclick="content_checkAll(this)"></th>
            <th width="">操作</th>
            <th width="">商品信息</th>
            <th width="">品牌</th>
            <th width="">分类</th>
            <th width="">销售价</th>
            <th width="">吊牌价</th>
            <th width="">库存</th>
            <th width="">上市时间</th>
        </tr>
        <tr><th colspan="11">
            <span class="btn btn-primary radius" id="sync"><i class="fa fa-refresh"> 网店同步库存</i></span>
            <span class="btn btn-primary radius" onclick="fg_operate('recal')"><i class="fa fa-refresh"> 渠道库存重算</i></span>
            <{if $op neq 'all' or $shop_spg_store_type eq '1'}><span class="btn btn-primary radius" onclick="fg_operate('add')"><i class="fa fa-cloud-upload"> 批量修改库存</i></span><{/if}>
            <span class="btn btn-danger radius" onclick="fg_operate('clear')"><i class="fa fa-trash"> 清除零库存数据</i></span>
        </th></tr>
        </thead>
        <tbody>
        <tr>
            <td colspan="13"><li class="goods_list mb-20 no-data"><i class="fa fa-exclamation-circle"></i>数据加载中...</li></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="flexigrid">
    <{include file="common_list_page.html"}>
</div>
<script type="text/javascript">

    //排队
    var int ='';
    $("#sync").click(function(){
        in_queue(1);
    })
    //入队
    function in_queue(j)
    {
        $.ajax({
            type:'get',
            dataType:'json',
            url: '<{base_url("pay.php/store/")}>queue?task_type=2',
            success:function(data){     //成功进入排队队列
                if(data.state == '403'){
                    layer.msg(data.msg);
                    window.top.location.href = "<{base_url('pay.php/Index/')}>login_out";
                }else if(data.state == '401'){
                    layer.msg(data.msg);
                }else if(data.state) {
                    if(data.queue){     //操作队列有空闲，直接执行任务
                        if(j==1)fg_operate('sync',false);
                        return false;
                    }
                    var place = get_queue_place(data.task);
                    if (place>0){
                        layer.confirm('当前正在排队人数：<span id="place">'+place+'</span>', {
                            title:'当前操作人数较多，需要排队：',
                            btn: ['取消排队'], //按钮
                            cancel: function(index){      //关闭询问框
                                quite_queue(data.task);
                                layer.msg('取消排队');
                            }
                        }, function(){      //取消排队
                            quite_queue(data.task);
                            layer.msg('取消排队');

                        });
                        int = setInterval(function () {    //轮询
                            place = get_queue_place(data.task);
                            if(place==0){
                                queue_action(data.task,j);
                            }
                            $('#place').html(place);
                        },1000);
                    } else {
                        queue_action(data.task);
                    }
                    window.onbeforeunload=function() {  //关闭，刷新浏览器事件，删除排队
                        quite_queue(data.task);
                    };
                } else {
                    layer.msg(data.msg);
                }
            }
        });
    }
    //成功进入操作队列
    function queue_action(id,j)
    {
        int = clearInterval(int);
        var i = 10;
        layer.confirm('是否开始操作？取消倒计时:<span id="time">10</span>', {
            title:'请确认：',
            btn: ['开始执行'], //按钮
            cancel: function(index){      //关闭询问框
                layer.msg('取消操作');
                return false;
            }
        },function(){       //确定操作
            int = clearInterval(int);   //结束轮询
            layer.closeAll();
            //把排队状态设为工作中
            $.ajax({
                type:'get',
                dataType:'json',
                url:'<{base_url("pay.php/store/")}>set_queue_state?task_id='+id,
                success:function(data){
                    if(!data.state){
                        layer.msg(data.msg);
                        return false;
                    }
                }
            })
            if(j==1)fg_operate('sync',id);
        });
        int = setInterval(function (){    //轮询，倒计时
            i--;
            if(i==0){
                quite_queue(id);
                layer.msg('取消操作');
                return false;
            }
            $('#time').html(i);
        },1000);
    }
    //得到位置
    function get_queue_place(id)
    {
        var place = 1;
        $.ajax({
            async: false,
            type:'get',
            dataType:'json',
            url: '<{base_url("pay.php/store/")}>get_queue_place?task_id='+id,
            success:function(data) {      //得到队列中的排队人数place
                if(data.state == '403'){
                    layer.msg(data.msg);
                    window.top.location.href = "<{base_url('pay.php/Index/')}>login_out";
                }else if(data.state == '401'){
                    layer.msg(data.msg);
                }else if(data.state){
                    place = data.place;
                }
            }
        })
        return place;
    }
    //删除任务
    function quite_queue(id)
    {
        layer.closeAll();
        $.ajax({
            type:'get',
            dataType:'json',
            url: '<{base_url("pay.php/store/")}>quit_queue?task_id='+id,
            success:function(data){
                int = clearInterval(int);   //结束轮询
                if(data.state == '403'){
                    layer.msg(data.msg);
                    window.top.location.href = "<{base_url('pay.php/Index/')}>login_out";
                }else if(data.state == '401'){
                    layer.msg(data.msg);
                }
                return false;
            }
        })
    }



    function get_check()
    {
        $("input[name='check']:checkbox").each(function(i) {
            if($(this).attr("checked")){
                $(this).parent().parent().addClass('trSelected');
            } else {
                $(this).parent().parent().removeClass('trSelected');
            }
        });
    }
    $(function(){
        var url = '<{$url}>';
        $(".select2").select2();
        $('#searchBtn').click(function(){
            load_page_to(url);
        });
        load_page(url);
        $(".select2").select2({
            width:'200px'
        });
    });  
    
    
    /*库存导入*/
	function import_amount(url){
		var str_div = '<div class="pt-20 pb-20 pl-30 pr-30 "><form id="formType"  enctype="">'+
		'<div class="ncap-form-default">'+
              '<dl class=""><dt class="tit" style="width:30%;">'+
                    '<label for="store_arayacak">导入方式：</label>'+
                '</dt>'+
                '<dd class="opt" style="width:60%;">'+
					'<div class="">'+
						'<input type="radio" id="qq_isuse_1" name="type"   value="1"  style="margin-left:20px;">全盘'+
						'<input type="radio" id="qq_isuse_0" name="type" checked value="0" style="margin-left:20px;" >局部'+
					'</div>'+
			   '</dd>'+
            '</dl>'+
            '<p class="notic" style="text-align:left;padding-left:13%;">全盘：清除当前门店的所有商品库存再导入；<br>局部：对目标库存进行修改；</p>'+
		'</div></form></div>';
	    layer.open({
			type: 1,
			btn: ['确认', '取消'],
			title: '<b>库存导入</b>',
			skin: 'layui-layer-rim', //加上边框n
			area: ['420px', '230px'], //宽高
			content: str_div,
			yes: function(index){
				//layer.close(index);
				var type=$('#formType').serialize();
				data_import('门店商品库存',"<{base_url('admin.php')}>/write_import/excel_upload",url+'?'+type+'&name=');
			}, no: function(){
			}
		})
	}
	function fg_operate(name, qid) {
		get_check();
		if (name == 'import') {
			import_amount('storeGoods_import');
	    }else if (name == 'import_sku') {
			import_amount('storeGoodsSku_import');
	    }else if (name == 'import_barcode') {
			import_amount('storeGoodsBarcode_import');
	    }else if (name == 'add') {
	    	 var itemlist = new Array();
	        if($('.trSelected').length>0){
	            $('.trSelected').each(function(){
	            	itemlist.push($(this).attr('data-id'));
	            });
	            
	        }
	        fg_edit(itemlist);
	    }else if(name=='clear'){
	    	layer.confirm('确认清除库存为0的数据？', {
                btn: ['确认', '取消'] //按钮
            }, function () {
            	$.ajax({
        	        type: "post",
        	        dataType: "json",
        	        url: "clearAmount",
        	        success: function(data){
                        if(data.state == '403'){
                            layer.msg(data.msg);
                            window.top.location.href = "<{base_url('pay.php/Index/')}>login_out";
                        }else if(data.state == '401'){
                            layer.msg(data.msg);
                            return false;
                        }else {
                            layer.msg(data.msg);
                            $.get('stock_query',function () {load_page('<{$url}>');});
                            //layer.closeAll();
                        }
        	        }
            	})
            })
	    }else if(name=='sync'){
	    	get_check();
            <{if $op neq 'all' or $shop_spg_store_type eq '1'}>
	    	 var itemlist = new Array();
		        if($('.trSelected').length>0){
		            $('.trSelected').each(function(){
		            	itemlist.push($(this).attr('data-id'));
		            });
		        }else{

                    layer.msg('请选择商品');
                    return false;
                }

		        goods_id=itemlist.toString();
            $.ajax({
                type: "get",
                dataType: "json",
                url: '<{base_url('pay.php/stock/')}>set_shop_stock_online?id='+ goods_id,
                 beforeSend:function(){
                    layer.closeAll();
                    layer.msg('商品库存同步中，这可能需要几分钟，请耐心等候，不要关闭此页面！！');
                },
                success: function(data){
                    if(data.state == '403'){
                        layer.msg(data.msg);
                        window.top.location.href = "<{base_url('pay.php/Index/')}>login_out";
                    }else if(data.state == '401'){
                        layer.msg(data.msg);
                        return false;
                    }else {
                        if(qid)quite_queue(qid);
                        layer.msg(data.msg);
                        $.get('stock_query',function () {load_page('<{$url}>');});
                        //layer.closeAll();
                    }
                }
            })
         <{else}>

            var itemlist = new Array();
                if($('.trSelected').length>0){
                    $('.trSelected').each(function(){
                        itemlist.push($(this).attr('data-id'));
                    });
                    goods_id=itemlist.toString();
                    var url = '<{base_url('pay.php/stock/')}>set_shop_total_stock_online?id='+ goods_id;
                }else{
                    var get = $("#formSearch").serialize();
                    var url = '<{base_url('pay.php/stock/')}>set_shop_total_stock_online?'+get;
                }
               
                    layer.closeAll();
                    layer.msg('商品库存同步中，这可能需要几分钟，请耐心等候，不要关闭此页面！！');
                
                form_submit(url);

            // $.ajax({
            //     type: "get",
            //     dataType: "json",
            //     url: url, 
            //      beforeSend:function(){
            //         layer.closeAll();
            //         layer.msg('商品库存同步中，这可能需要几分钟，请耐心等候，不要关闭此页面！！');
            //     },
            //     success: function(data){
            //         if(data.state == '403'){
            //             layer.msg(data.msg);
            //             window.top.location.href = "<{base_url('pay.php/Index/')}>login_out";
            //         }else if(data.state == '401'){
            //             layer.msg(data.msg);
            //             return false;
            //         }else {
            //             if(qid)quite_queue(qid);
            //             layer.msg(data.msg);
            //             $.get('stock_query',function () {load_page('<{$url}>');});
            //             // if(data.DATA){
            //             // setTimeout("layer.closeAll();window.location.href = '<{base_url('pay.php/stock/')}>product_online_execl?id="+data.DATA+"';",2000);
            //             // }
            //             //layer.closeAll();
            //         }
            //     }
            // })

        <{/if}>

	    }else if(name=='recal'){
            if($('.trSelected').length>0) {
                var itemlist = new Array();
                if ($('.trSelected').length > 0) {
                    $('.trSelected').each(function () {
                        itemlist.push($(this).attr('data-id'));
                    });
                }
                fg_amount_recal(itemlist);
            }else {
                layer.msg('请选择商品');
                return false;
            }
        }
}
//进度条
function form_submit(url)
    {
        layer.open({
            type: 2,
            title: '同步进度条',
            scrollbar:false,
            shade: 0.8,
            area: ['60%', '520px'],
            content: url,
        });
    }
        
//库存重算
function fg_amount_recal(id) {
    var id = id.toString();
    $.ajax({
        type:'get',
        dataType:'json',
        url:'recal_amount?id='+id,
        success:function(data) {
            if(data.state == '403'){
                layer.msg(data.msg);
                window.top.location.href = "<{base_url('pay.php/Index/')}>login_out";
            }else if(data.state == '401'){
                layer.msg(data.msg);
                return false;
            }else if(data.state) {
                layer.msg('共更新'+data.num+'条数据');
            }else{
                layer.msg(data.msg);
            }
            $.get('stock_query',function () {load_page('<{$url}>');});
        }
    })
}
    
    function fg_edit(data){
    	get_check();
    	//console.log(typeof(data));
    	var stname = '';
    	if(typeof(data)=='number'){
    		$.ajax({
    	        type: "post",
    	        dataType: "json",
    	        url: "updateAmount",
    	        data: 'id='+data,
    	        success: function(data){
                    if(data.state == '403'){
                        layer.msg(data.msg);
                        window.top.location.href = "<{base_url('pay.php/Index/')}>login_out";
                    }else if(data.state == '401'){
                        layer.msg(data.msg);
                        return false;
                    }else  if(data.state){
    	            	content = '<div class="amendstock-background"><input type="hidden" name="isNumber" id="isNumber" value="1"></div>'+
	            		'<div class="amengstock-content">'+
	            		'<h5 style="padding: 5px;border-bottom:1px solid #E0E0E0;">(<span class="red">'+data.row.goods_name+'</span>)<{if $op neq 'all' or $shop_spg_store_type eq '1'}>调整库存、价格<{/if}></h5>'+
    	        		'<div style="margin-top: 20px;"></div>'+
    	        	  '<table class="table table-border" style="border-top: 0px;">'+
    	        			/* '<thead>'+
    	        				'<tr>'+
    	        					'<th></th>'+
    	        					'<th>当前门店价格</th>'+
    	        					'<th>设定门店价格</th>'+
    	        				'</tr>'+
    	        			'</thead>'+ */
    	        			'<tbody>'+
    	        				'<tr>'+
    	        					'<td style="width: 33.3%;">吊牌价</td>'+
    	        					'<td style="width: 33.3%;">￥'+data.row.goods_marketprice+'</td>'+
    	        					/* '<td style="width: 33.3%;"><input type="text" class="input-text size-M"/></td>'+ */
    	        				'</tr>'+
    	        			'</tbody>'+
    	        		'</table>'+ 
    	        		'<div style="margin-top: 10px;"></div>'+
    	        		'<form id="goodsStocks"><div style="max-height:400px;overflow:auto"><table class="table table-border mb-10" style="border-top: 0px;">'+
    	        			'<thead>'+
    	        				'<tr>'+
    	        					'<th>货号</th>'+
    	        					'<th>颜色</th>'+
    	        					'<th>尺码</th>'+
    	        					'<th>条码</th>'+
    	        					'<th>销售价</th>'+
                        <{if $op neq 'all' or $shop_spg_store_type eq '1'}>
    	        					'<th>设定价格</th>'+
                                <{/if}>
                                    '<th>库存</th>'+
    	        				'</tr>'+
    	        			'</thead>'+'<tbody>';
    	        			$.each(data.data,function(k,v){
    	        				content+='<tr>'+
    	    					'<td style="width: 20%;">'+data_null(v.stocks_sn)+'<input type="hidden" value="'+data_null(v.stocks_sn)+'" name="stocks_sn[]"/><input type="hidden" value="'+v.goods_ea_id+'" name="goods_ea_id[]"/></td>'+
    	    					'<td style="width: 15%;">'+data_null(v.color_remark,v.color)+'</td>'+
    	    					'<td style="width: 15%;">'+data_null(v.size_note,v.size)+'<input type="hidden" value="'+v.size+'" name="size[]"/></td>'+
    	    					'<td style="width: 20%;">'+data_null(v.stocks_bar_code)+'</td>'+
    	    					'<td style="width: 10%;">￥'+v.price+'</td>'+
                                    <{if $op neq 'all' or $shop_spg_store_type eq '1'}>
    	    					'<td style="width: 10%;"><input type="text" value="'+v.price+'" name="stocks_price[]" class="input-text size-M price"/></td>'+
    	    					'<td style="width: 10%;"><input type="text" value="'+v.amount+'" name="amount[]" class="input-text size-M amount"/></td>'+
                                    <{else}>
                                '<td style="width: 10%;">'+v.amount+'</td>'+
                                    <{/if}>
    	    				'</tr>';
    	        			})
    	        			content+='</tbody>'+
    	        			'</table></div></form>'+
                                <{if $op neq 'all' or $shop_spg_store_type eq '1'}>
    	        			'<div style="height:50px;margin-top:10px"><div class="changeprice">'+
    	        				'<button class="btn pull-right mar-lef btn-warning radius ml-5 mr-10" onclick="changeAmount()">调库存</button>'+
    	        				'<div style="width:100px" class="pull-right mar-lef"><input type="text" class="input-text radius size-M changeAmount" /></div>'+
    	        				'<span class="pull-right mar-lef ml-5" style="line-height: 30px;">批量调库存</span>'+
    	        			'</div>'+
    	        			'<div class="changeamount">'+
            				'<button class="btn pull-right mar-lef btn-warning radius ml-5" onclick="changePrice()">调价</button>'+
            				'<div style="width:100px" class="pull-right mar-lef"><input type="text" class="input-text radius size-M changePrice" /></div>'+
            				'<span class="pull-right mar-lef" style="line-height: 30px;">批量调价</span><div style="clear: both;"></div>'+
            			    '</div>'+
    	        			'<div style="clear: both;"></div>'+
    	        			'<div style="margin: 10px;">'+
    	        				'<button class="btn pull-right mar-lef btn-warning radius ml-5" onclick="updateStocks('+data.row.goods_id+')">提交</button>'+
    	        				'<button class="btn pull-right mar-lef btn-default radius" onclick="cancel()">取消</button><div style="clear: both;"></div>'+
    	        			'</div></div>'+
    	        			'<div style="clear: both;"></div></div>';
                                <{/if}>
    	        			//$('.amengstock-content').html(content);
    	        			//$('.amendstock-background').show();
    		            	//$('.amengstock-content').show();
    		            	//console.log(content)
    		            	 layer.open({
					    			type: 1,
					    			title: "<{if $op neq 'all' or $shop_spg_store_type eq '1'}><b>修改库存</b><{else}><b>查看库存</b><{/if}>",
					    			skin: 'layui-layer-rim', //加上边框n
					    			area: ['60%', 'auto'], //宽高
					    			content: content,
					    		})

    		            	
    	            }else{
    	            	layer.msg(data.msg);
    	            }
    			  
    	        }
    	   })
    	   
    	}else{
    		if(data.length==0){
    			layer.msg("至少选择一个商品!");
    			return false;
    			//stname = '当前条件下的商品的库存';
    		}else{
    			stname = '这'+data.length+'个商品的库存';
    		}
    		layer.open({
    			type: 1,
    			btn: ['确认', '取消'],
    			title: '<b>修改库存</b>',
    			skin: 'layui-layer-rim', //加上边框n
    			area: ['420px', '180px'], //宽高
    			content: '<div class="pt-20 pb-20 pl-30 pr-30 "><form  id="form_edit" method="POST" enctype=>' +
    			'<div class="">修改'+stname+'为：<input type="number" name="stock" style="width:50px;" id="edit_amount" class=""><span value="" class="err"></span></div>' +
    			'</form></div>',
    			yes: function(index){
    				/*添加代理商表单验证*/
    				$('#form_edit').validate({
    					errorPlacement: function(error, element){
    						var error_td = element.nextAll('span.err');
    						error_td.append(error);
    					},
    					rules : {
    	                    stock:{required : true}
    	                },
    	                messages : {
    						stock : {required : '<i class="fa fa-exclamation-circle"></i>请填写库存量'}
    	                }
    				});
    				if($("#form_edit").valid()){
    					
    						   search = $("#formSearch").serialize();
    						   $.ajax({
    						        type: "post",
    						        dataType: "json",
    						        url: "update_goodsAmount",
    						        data: search+"&id="+data+'&amount='+$('#edit_amount').val(),
    						        success: function(data){
                                        if(data.state == '403'){
                                            layer.msg(data.msg);
                                            window.top.location.href = "<{base_url('pay.php/Index/')}>login_out";
                                        }else if(data.state == '401'){
                                            layer.msg(data.msg);
                                            return false;
                                        }else {
    						            	layer.msg(data.msg);
    						            	layer.close(index);
    						            	$.get('stock_query',function () {load_page('<{$url}>');});
    						            }
    						        }
    						   })
    					   
    					
    				}
    			}, no: function(){
    			}
    		})
    		//console.log(data)
    		//data = data.join(',');
    	}
    	
    }
    $("div.amengstock-content").delegate("input.price","blur",function(){
    	  if(parseFloat($(this).val())>=0&&!isNaN($(this).val())){
    		  $(this).removeClass('isnum');
    	  }else{
    		  $(this).addClass('isnum');
    		  layer.msg('请输入正确的数字');
    	  }
    	});
    $("div.amengstock-content").delegate("input.amount","blur",function(){
    	  if(parseFloat($(this).val())>=0&&!isNaN($(this).val())){
    		  $(this).removeClass('isnum');
    	  }else{
    		  $(this).addClass('isnum');
    		  layer.msg('请输入正确的数字');
    	  }
    	});
    function isNumber(){
    	var isNum = true;
    	$('div.amengstock-content').find('table').find("input.input-text").each(function(){
    		if(parseFloat($(this).val())>=0&&!isNaN($(this).val())){
    			  $(this).removeClass('isnum');
    		  }else{
    			  $(this).addClass('isnum');
    			  isNum = false; 
    		  }
    	})
    	if(!isNum){
    		layer.alert('请输入正确的数字');
    		return false;
    	}
    }	
    function cancel(){
    	 layer.closeAll(); 
    }
    function changeAmount(){
    	var amount = $('.changeAmount').val();
    	if(parseFloat(amount)>=0&&!isNaN(amount)){
    		$('div.amengstock-content').find('table').find('input.amount').each(function(){
    			$(this).val(parseInt(amount));
    		})
    	}else{
    		layer.alert('请输入正确的数字');
    	}
    }
    function changePrice(){
    	var price = $('.changePrice').val();
    	if(parseFloat(price)>=0&&!isNaN(price)){
    		$('div.amengstock-content').find('table').find('input.price').each(function(){
    			$(this).val(number_format(price,2));
    		})
    	}else{
    		layer.alert('请输入正确的数字');
    	}
    }
    function updateStocks(id){
    	isNumber();
    	$.ajax({
            type: "post",
            dataType: "json",
            url: "updateStocks",
            data: $('#goodsStocks').serialize()+'&id='+id,
            success: function(data){
                if(data.state == '403'){
                    layer.msg(data.msg);
                    window.top.location.href = "<{base_url('pay.php/Index/')}>login_out";
                }else if(data.state == '401'){
                    layer.msg(data.msg);
                    return false;
                }else if(data.state){
                	layer.closeAll();
                	layer.msg(data.msg);
                	$.get('stock_query',function () {load_page('<{$url}>');});
                	
                }else{
                	layer.msg(data.msg);
                }
            }
       })
    }
    //同步库存
   function fg_sync_amount(goods_id){
	   if(goods_id == undefined && goods_id == ''){
		   goods_id = '';layer.msg('数据错误');return false;
       }
	   $.ajax({
           type: "POST",
           dataType: "json",
           url: "stock_sync_check",
           data: 'goods_id='+goods_id,
           success: function(data){
               layer.msg(data.msg);
                   if(data.state=='403'){
                       login_ajax('agent',data);
                   }else if(data.state){
                	   layer.confirm('确定要同步该商品的库存吗？', 
                	           {btn: ['确定','取消']}, 
                	           function(){
                	           $.ajax({
                	               type: "POST",
                	               dataType: "json",
                	               url: "stock_sync",
                	               beforeSend:function(){
                	            	   layer.msg('库存同步中请稍后。。。',{time:0});
                	               },
                	               data: 'data='+JSON.stringify(data.data),
                	               success: function(data){
                	            	   layer.closeAll();
                	                   layer.msg(data.msg);
                	                       if(data.state=='403'){
                	                           login_ajax('agent',data);
                	                       }else if(data.state){
                	                    	   load_page_to('<{$url}>');
                	                  }
                	              }
                	          });
                	      }, 
                	      function(){
                	          return ;
                	      });
                  }else{
                	  layer.msg(data.msg);
                  }
          }
      });
      
   }


</script>
<div id="goTop"> <a href="JavaScript:void(0);" id="btntop"><i class="fa fa-angle-up"></i></a><a href="JavaScript:void(0);" id="btnbottom"><i class="fa fa-angle-down"></i></a></div>
</body>
</html>